<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bikemap.home.notice.NoticeDaoImp">
	<insert id="insertNotice" parameterType="com.bikemap.home.notice.NoticeVO">
  		insert into notice(nonotice, userid, idsend, msg, type)
  		values(a_sq.nextval, #{userid}, #{idsend}, #{msg}, #{type})
	</insert>
	<select id="selectMessageRecord" resultType="int" parameterType="com.bikemap.home.notice.NoticePagingVO">
		select count(nonotice) from notice where
		<choose>
			<when test='messageBox neq null and messageBox == 1'>
				userid = #{id} and type='M'
			</when>
			<when test='messageBox neq null and messageBox == 2'>
				idsend = #{id} and type='M'
			</when>
			<when test='messageBox neq null and messageBox == 3'>
				userid = #{id} and type='A'
			</when>
		</choose>
		<if test='read neq null and read neq ""'>
			and read = #{read}
		</if>
	</select>
	<select id="selectMsgList" resultType="com.bikemap.home.notice.NoticeVO" parameterType="com.bikemap.home.notice.NoticePagingVO">
		select * from(
			select * from (
				select nonotice, userid, idsend, msg, to_char(writedate, 'YY-MM-DD HH24:MM') writedate, read 
				from notice where 
				<choose>
					<when test='messageBox neq null and messageBox == 1'>
						userid = #{id} and type='M'
					</when>
					<when test='messageBox neq null and messageBox == 2'>
						idsend = #{id} and type='M'
					</when>
					<when test='messageBox neq null and messageBox == 3'>
						userid = #{id} and type='A'
					</when>
				</choose>
				<if test='read neq null and read neq ""'>
					and read = #{read}
				</if>
					order by nonotice desc
				) where rownum <![CDATA[<=]]> #{onePageRecord} * #{nowPage} order by nonotice asc
			) where rownum <![CDATA[<=]]> #{lastPageRecordCount} order by nonotice desc
	</select>

	<update id="readMessage">
		update notice set read ='T' where nonotice= #{param1}
	</update>
	<delete id="deleteMessage">
		delete from notice where nonotice = #{param1}
	</delete>
	<select id="messageView" resultType="com.bikemap.home.notice.NoticeVO" parameterType="com.bikemap.home.notice.NoticeVO">
		select userid, idsend, msg from notice where nonotice = #{nonotice}
	</select>
	<select id="selectQnaType" resultType="com.bikemap.home.notice.QnaTypeVO">
		select noqnatype, typename from qnatype order by noqnatype asc
	</select>
	<insert id="insertQna" parameterType ="com.bikemap.home.notice.QnaVO">
		insert into qna(noqna, subject, userid, noqnatype, content, ip)
		values(a_sq.nextval, #{subject}, #{userid}, #{noqnatype}, #{content}, #{ip})
	</insert>
	<select id="selectQnaRecord" resultType="int" parameterType="com.bikemap.home.notice.QnaPagingVO">
		select count(noqna) from qna where userid = #{id}
		<if test='answer neq null and answer neq ""'>
			and answer = #{answer}
		</if>
	</select>
	<select id="selectQnaList" resultType="com.bikemap.home.notice.QnaVO" parameterType="com.bikemap.home.notice.QnaPagingVO">
		select noqna, answer, typename, subject, content, answercontent, to_char(writedate, 'YY-MM-DD HH24:MI') writedate from qna a 
		join qnatype b on a.noqnatype = b.noqnatype
		where userid = #{id}
		<if test = 'answer neq null and answer eq "Y"'>
			and answer = 'Y'
		</if>
		order by noqna desc 
	</select>
	<delete id="deleteQna">
		delete from qna where noqna = #{param1}
	</delete>
	<select id="getReadYetMsg" resultType="int">
		select count(nonotice) from notice where userid=#{param1} and read ='F'
	</select>
</mapper>