<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bikemap.home.review.ReviewDaoImp">
	
<!--  레코드 한 개 선택 - 글 보기 -->
	<select id ="reviewSelect" parameterType= "int" resultType="com.bikemap.home.review.ReviewVO">
		select noboard, subject, userid, content, reference, to_char(writedate, 'YYYY-MM-DD HH:MI') writedate
		from review where noboard=#{noboard}
	</select>
	
	
	
<!-- 	글보기 리스트 -->
	<select id = "reviewAllRecord" resultType="com.bikemap.home.review.ReviewVO">
		select noboard, subject, userid, content, reference, to_char(writedate, 'YYYY-MM-DD HH:MI') writedate
			from review order by noboard desc
	</select>



<!-- 	글쓰기 등록 -->
	<insert id = "reviewInsert" parameterType="com.bikemap.home.review.ReviewVO">
		insert into review(noboard, subject, userid, content, reference, ip)
		values(a_sq.nextval, #{subject}, #{userid}, #{content}, #{reference, jdbcType=INTEGER}, #{ip})
	</insert>
 
 
 
 
</mapper>
