<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bikemap.home.route.RouteDaoImp">
	<insert id="insertCategory" parameterType = "com.bikemap.home.route.RouteCateVO">
		insert into routecategory(noroutecate, catename, userid) values(a_sq.nextval, #{catename}, #{userid})
	</insert>
	<insert id="insertBasicCategory">
		insert into routecategory(noroutecate, catename, userid) values(a_sq.nextval, '내 코스', #{param1})
	</insert>
	<select id="selectCategory" resultType="com.bikemap.home.route.RouteCateVO">
		select noroutecate, catename from routecategory where userid = #{param1} order by noroutecate asc
	</select>
	<insert id="insertRoute" parameterType="com.bikemap.home.route.RouteVO">
		insert into route(noroute, title, routepoint1, routepoint2, routepoint3, routepoint4, routepoint5, routepoint6, routepoint7,
		geocode, userid, distance, ascent, descent, region, closed) 
		values(a_sq.nextval, #{title}, #{routepoint1}, #{routepoint2}, #{routepoint3,jdbcType=VARCHAR}, #{routepoint4,jdbcType=VARCHAR}, #{routepoint5,jdbcType=VARCHAR}, #{routepoint6,jdbcType=VARCHAR},
		#{routepoint7,jdbcType=VARCHAR}, #{geocode}, #{userid}, #{distance}, #{ascent}, #{descent}, #{region}, #{closed})
	</insert>
	<select id="lastRouteNo" resultType="int">
		select noroute from (select noroute from route where userid = #{param1} order by 1 desc) where rownum = 1
	</select>
	<insert id="insertRouteList" parameterType="com.bikemap.home.route.RouteListVO">
		insert into routelist(userid, noroutecate, noroute) values(#{userid}, #{noroutecate}, #{noroute})
	</insert>
	<insert id="insertRoutePlaceList" parameterType="com.bikemap.home.route.RoutePlaceVO">
		insert into routeplace(noroute, food1, food2, food3, food4, food5, sights1, sights2, sights3, sights4, sights5,
		accom1, accom2, accom3, accom4, accom5, conve1, conve2, conve3, conve4, conve5) values(#{noroute},
		#{food1, jdbcType=VARCHAR}, #{food2, jdbcType=VARCHAR}, #{food3, jdbcType=VARCHAR}, #{food4, jdbcType=VARCHAR},
		#{food5, jdbcType=VARCHAR}, #{sights1, jdbcType=VARCHAR}, #{sights2, jdbcType=VARCHAR}, #{sights3, jdbcType=VARCHAR},
		#{sights4, jdbcType=VARCHAR}, #{sights5, jdbcType=VARCHAR}, #{accom1, jdbcType=VARCHAR}, #{accom2, jdbcType=VARCHAR},
		#{accom3, jdbcType=VARCHAR}, #{accom4, jdbcType=VARCHAR}, #{accom5, jdbcType=VARCHAR}, #{conve1, jdbcType=VARCHAR},
		#{conve2, jdbcType=VARCHAR}, #{conve3, jdbcType=VARCHAR}, #{conve4, jdbcType=VARCHAR}, #{conve5, jdbcType=VARCHAR})
	</insert>	
	<select id="selectRoute" resultType="com.bikemap.home.route.RouteVO">
		select noroute, title, routepoint1, routepoint2, routepoint3, routepoint4, routepoint4, routepoint5, routepoint6, routepoint7,
		geocode, userid, distance, ascent, descent, region, to_char(wirtedate, 'YY-MM-DD HH24:MI') writedate from route
		where noroute = #{param1} and closed = 'F'
	</select>
	<select id="selectRoutePlace" resultType="com.bikemap.home.route.RoutePlaceVO">
		select noroute, food1, food2, food3, food4, food5, sights1, sights2, sights3, sights4, sights5,
		accom1, accom2, accom3, accom4, accom5, conve1, conve2, conve3, conve4, conve5 from routeplace
		where noroute = #{param1}
	</select>
</mapper> 