<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bikemap.home.tourReply.TourReplyDaoImp">
 <insert id="tourReplyInsert" parameterType="com.bikemap.home.tourReply.TourReplyVO">
 	insert into tourreply(notourreply,notour,userid,reply,writedate) 
 	values(a_sq.nextval,#{notour},#{userid},#{reply},sysdate)
 </insert>
 <select id="tourReplyAllSelect" parameterType="int" resultType="com.bikemap.home.tourReply.TourReplyVO">
 	select notourreply,userid,reply,writedate from tourreply where notour=#{param1} 
 	order by notourreply desc
 </select>
</mapper>