<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bikemap.home.tourReply.TourReplyDaoImp">
 <insert id="tourReplyInsert" parameterType="com.bikemap.home.tourReply.TourReplyVO">
 	insert into reply(noreply,noboard,userid,reply) 
 	values(a_sq.nextval,#{noboard},#{userid},#{reply})
 </insert>
 <select id="tourReplyAllSelect" parameterType="map" resultType="com.bikemap.home.tourReply.TourReplyVO">

 	select noreply,userid,reply,to_char(writedate,'YY-MM-DD HH24:MI') writedate from reply where noboard=#{noboard} 
 	order by noreply desc

 </select>
  <select id="getTotalTourReplyRecord" resultType="int">
 	select count(noreply) from reply
 </select>
</mapper>