/* ================ �뿤�뜑 諛� 怨듯넻 =================*/
body{
	font-family: 'Noto Sans KR', sans-serif;
	width:100%;
	margin: 0 auto;
	/*overflow-y: hidden; overflow-x: hidden;*/
}
textarea:focus {
	outline: none;
}
button:focus {
	outline: none;
}
input:focus {
	outline: none;
}
#adminTop {
	background-color: #343434;
	width: 100%;
	height: 100px;
}
#adminTop img {
	width: 200px;
	height: 70px;
	margin:15px 0 15px 50px;
}
.adminSearchBar{
	width:100%;
	height:63px;
	text-align:center;
	padding-top:15px;
	background-color: #00b0b0;
}

ul, li{
	list-style-type: none;
	margin : 0;
	padding: 0;
}
a{
	text-decoration: none;
}
#adminBottom{
	width:100%;
}
.wordCut {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.adminTable{
	backgound-color:#fff;
	padding:5px;
}
.adminTable>ul{
	margin:30px 15px 0px 5px;
	border-radius: 15px;
}
/* ================ �궗�씠�뱶諛� ==============*/
.navigation {
	float: left;
	width: 300px;
	height: 800px;
	background-color: #F2F2F2;
} /*=== left瑗��꽔�옄....===*/

.navigation>ul{
	width:240px;
	height:100%;
	margin :0 auto;
	margin-top : 100px;
}

.navigation a {
	display: block;
	color: #000000;
	text-decoration: none;
}

.navigation a:hover{
	color: #00b0b0;
}
.icon {
	font-size:27.5px;
	color: #000000;
}
.navigation li {
	line-height:26px;
	padding:0 0 50px 10px;
	margin-bottom:50px;
	border-bottom: solid 2px #c5c5c5;
}
.navigation li:last-child {
	border-bottom: none;
}
.navigation li>a {
	margin-top:10px;
	font-size:17px;
	color:#636363;
	letter-spacing:2px;
	font-weight:400;
}
.navigation li>a:last-child {
	margin-bottom:30px;
}

.toast{
    position: fixed;
    top: 250px;
    width : fit-content;
    height : fit-content;
    line-height : 30px;
    left: 50%;
    padding: 15px 20px;
    transform: translate(-50%, 10px);
    border-radius: 20px;
    font-size: 18px;
    opacity: 0.3;
    visibility: hidden;
    transition: opacity .5s, visibility .5s, transform .5s;
    background: rgba(0, 0, 0, .35);
    color: #fff;
    z-index: 10000;
    box-shadow: 3px 3px 3px rgb(130,130,130);
}

.toast.reveal {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0)
}

.toast .mintBtn,.toast .btn{	
	font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    font-size:15px;
    width:70px;
	height:30px;
    text-align: center;
    padding: 3px 6px;
    margin : 5px 8px 0 0;
    color: white;
    border:none;
    background-color: #00B0B0;
    float: right;
    line-height :20px;
}

.toast .btn{	
	color: #00B0B0;
    border: 1px solid #00B0B0;
    background-color: white;
}
/*================= 而⑦뀗痢� ================*/
.adminContent {
	width: 1600px;
	float: right;
	height: 800px;
	background-color: white;
	margin: 0 auto; 
	text-align: center;
}
.adminContent a{
	color: #000000;
	text-decoration: none;
}

#tableContent {
	width: 80px;
}

#paging{
		width:100%;
		height:50px;
		color:#353535;
		font-size:20px;
		margin : 0 auto;
		text-align: center;
}


/*�럹�씠吏� 留ㅺ린湲�*/
#paging>ul {
	height: 30px;
	overflow: auto;
	margin: 0 auto;
	width: 30%; 
	<!-- 留욎떠蹂댁옄 -->
}

#paging li {
	float: Left;
	width: 30px;
	height: 30px;
	text-align: center;
	font-size: 1.0em;
	list-style-type:none;
}


.adminListHead{
	letter-spacing:11px;
}
.orderRadio{
    float: right;
    position:relative;
}
.orderRadio>input[type=radio]{
	display:none;
}
.subTxt{
	color:#AEAAAA;
}
.orderRadio>input[type=radio]:checked+label{
	color:#353535;
	font-size:18px;
	font-weight:600;
	margin-bottom:20px;
}
/* ================ �쉶�썝愿�由� =================*/
#userList>li:nth-child(-n+9) {
	font-size:18px;
	background:linear-gradient(#eee, lightgray);
	border-top:1px solid gray;
	margin-bottom:4px;
	letter-spacing:2px;
	
}
#userList>li:nth-child(n+10):nth-child(-n+18){
	border-top:1px solid gray;
}
#userList>li {
	float: left;
	width: 11%;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid gray;
}
#userList, #userList>li {
	height:50px;
	background-color: #fff;
}
#userList{
	
}

.searchText {
    width: 500px;
    padding: 4px 0 0 10px;
    border: 1px solid rgb(221,221,221);
    border-radius: 8px;
    height: 25px;
    background-color: rgb(221,221,221);
    font-size: 15px;
    font-weight: bold;
    color: rgb(64,64,64);
}

/* ================ �룞�뻾紐⑥쭛 ==================*/
#tourList>li:nth-child(-n+6) {
	
	background-color:#ddd;
	border-top:1px solid gray;
	margin-bottom:4px;
}
#tourList>li:nth-child(n+7):nth-child(-n+12){
	border-top: 1px solid gray;
}
#tourList>li{
	float: left;
	width: 15%;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid gray;
}
#tourList, #tourList>li {
	background-color: #fff;
}
#tourList>li:nth-child(6n+3) {
	width: 37%;
	text-align : left;
}
#tourList>li:nth-child(6n+1){
	width:3%;
}
#tourList>li:nth-child(3) {
	text-align : center;
}



/* ================ 由щ럭�뀒�씠釉� ================*/
#reviewList>li:nth-child(-n+8) {
	background:linear-gradient(#eee, lightgray);
	border-top:1px solid gray;
	margin-bottom:4px;
}
#reviewList>li:nth-child(n+9):nth-child(-n+16){
	border-top: 1px solid gray;
}
#reviewList>li {
	float: left;
	width: 10%; 
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid gray;
}
#reviewList, #reviewList>li {
	height:50px;
	background-color: #fff;
}
#reviewList>li:nth-child(8n+3) {
	width: 37%;
	text-align : left;
}
#reviewList>li:nth-child(8n+1) {
	width: 3%;
}
#reviewList>li:nth-child(3) {
	text-align : center;
	padding:0px;
}

/* =============== 臾몄쓽 �뀒�씠釉� ==============*/
#questionList>li:nth-child(-n+6) {
	background:linear-gradient(#eee, lightgray);
	border-top:1px solid gray;
	margin-bottom:4px;
}
#questionList>li:nth-child(n+7):nth-child(-n+12){
	border-top: 1px solid gray;
}

#questionList>li {
	float: left;
	width: 15%;
	height: 40px;
	line-height: 40px;
	background-color:#fff;
	border-bottom: 1px solid gray;
}
#questionList, #questionList>li {
	height:50px;
	background-color: #fff;
}
#questionList>li:nth-child(6n+4) {
	width: 37%;
	text-align : left;
}
#questionList>li:nth-child(6n+1){
	width: 3%;
}
#questionList>li:nth-child(4) {
	text-align : center;
}


/* =============== 猷⑦듃 �뀒�씠釉� ==============*/
#routeList>li:nth-child(-n+9) {
	background:linear-gradient(#eee, lightgray);
	border-top:1px solid gray;
	margin-bottom:4px;
}
#routeList>li:nth-child(n+10):nth-child(-n+18){
	border-top: 1px solid gray;
}
#routeList>li { /*== 8*9=72, 8*3=24 +28 = 52  */
	float: left;
	width: 8%;
	height: 40px;
	line-height: 40px;
	background-color:#fff;
	border-bottom: 1px solid gray;
}
#routeList, #routeList>li {
	height:50px;
	background-color: #fff;
}
#routeList>li:nth-child(9n+3) {
	width: 29%;
	text-align : left;
}
#routeList>li:nth-child(9n+7){
	width: 20%;
}
#routeList>li:nth-child(9n+1){
	width:3%;
}
#routeList>li:nth-child(3) {
	text-align : center;
	padding:0px;
}
#routeList{
	margin:0px 15px 0px 5px;
	width:90%;
}

/*=== �뒳�씪�씠�뱶 踰꾪듉 =====*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00b0b0;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00b0b0;
  
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  content:"YES";
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



.layerpop {
    display: none;
    z-index: 1000;
    border: 2px solid #ccc;
    background: #fff;
    cursor: move; 
    font-size: 0.8em;
 }

.layerpop_area .title {
    padding: 10px 10px 10px 10px;
    border: 0px solid #aaaaaa;
    background: #f1f1f1;
    color: #3eb0ce;
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
    height:0px;
}

.layerpop_area .layerpop_close {
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    background: url("../img/img_admin/btn_exit_off.png")no-repeat;
}
.layerpop_area .layerpop_close:hover {
    background: url("../img/img_admin/btn_exit_on.png")no-repeat;
    cursor: pointer; 
}

.layerpop_area .content {
    width: 96%;    
    margin: 2%;
    color: #828282; 
	float:left;
}
    

/* ============= ���젆�듃 =========*/

#adminSelect, #bigCate, #smallCate{
		width:150px;
		height:40px;
		text-align:center;
		font-size:17.5px;
		font-weight:bold;
		color:#7F7F7F;
		border:0px;
		border-radius:5px;
		background-color:#dcdcdc;
		background: url(../img/img_admin/selectBox.png) no-repeat 95% 50%;
		-webkit-appearance: none; /* �꽕�씠�떚釉� �쇅�삎 媛먯텛湲� */
    	-moz-appearance: none;
    	appearance: none;
    	margin-right:5px;
    	padding-left:10px;
 }
#bigCate{
	width:200px;
}
.mint_Btn, .gray_Btn, .red_Btn{
		  font-size:15px;
		  font-weight:bold;
		  border-radius: 5px;
		  text-decoration: none;
		  text-align : center;
		  padding:3px 6px;
		  margin:0 auto;
		  color : white;
}
.mint_Btn{
	  	  border: 1px solid #00B0B0;
		  background-color: #00B0B0;
}
.gray_Btn{
		  border: 1px solid #343434;
		  background-color: #343434;
}
.red_Btn{

		  margin:0 10px;
		  border: 1px solid red;
		  background-color: red;
}
#suspendBtn{
    width: 26px;
    height: 26px;
    display: block;
    margin-left:22px;
    margin-top:7px;
    background: url("../img/img_admin/stop_25_25.png")no-repeat;
    object-fit: fill;
}
#suspendEditBtn{
	width: 26px;
    height: 26px;
    display: block;
    margin-left:22px;
    margin-top:7px;
    background: url("../img/img_admin/edit_25_25.png")no-repeat;
    object-fit: fill;
}
#suspendDiv{
	float:left;
	margin-left:15px;
	text-align:center;
}
#partnerBtn{
	width:403px;
	height:35px;
	float:right;
}
#replySubmit{
	float:right;
}
.pop2Row{
	margin-bottom:20px;
}
.pop2Left{
	float:left;
	width:60px;
	font-weight:bold;
}
