

/*==============================registerForm&registEditForm==============================*/
	.registerMainDiv{
		width:900px;
		margin:0 auto;
	}
	body{
		font-family:'Noto Sans KR', sans-serif;
		background-color:rgba(255,201,14,0.08);
	}
	textarea:focus {
		outline: none;
	}
	button:focus {
		outline: none;
	}
	input:focus {
		outline: none;
	}
	#domainSelect{
		font-size:14px;
		height:30px;
	}
	#registerForm>ul>li{
		width : 100%;
		float:left;
	}
	
	#registerForm>ul>li:nth-of-type(2){
		width : 20%;
		margin-left : 20%;
	}
	#registerForm>ul>li:nth-of-type(3){
		width : 60%;
	}
	
	.registerWriteForm{
					
						float:left;
						width:20%;
						margin-left:160px;
	}
	.registerTitle{
					height:80px;
					margin:50px 0 0 150px;
	}
	.registerTitleLbl{
						font-size:22px; 
	 					color:rgb(64,64,64);
	
	}
	.registerFormLblDiv{
						text-align:center;	
	
	}
	.registerFormLblDiv li{
							margin:30px 0 50px 0;
							text-align : left;
							font-size : 1em;
							font-weight: bold;
							color:rgb(64,64,64);
							height: 30px;
							line-height: 30px;
						
	}
	
	#input{
			float:left;
			width:60%;
	}
	
	#input>ul>li:nth-of-type(2n+1){
		margin:30px 0 0 0;
		height : 30px;
	}
	#input>ul>li:nth-of-type(2n+2){
		margin : 0 0 50px 0;
		height : 0;
		
	}
	#input input,#domainSelect{
				font-size:1em;
				border-radius: 10px;
				border:none;
				box-shadow: 3px 3px 5px 3px rgb(230,230,230);	
				height:30px;
	}
	#input input[type=radio]{
			margin : 0;
			box-shadow:none;
	}
	#buttons2{
		text-align: center;
	}
	#buttons2>input{
		margin: 10px;
	}
	.gray_Btn{
					font-size:12px;
					width:80px;
					height:30px;
					color: #5D5D5D;
					font-weight:bold;
					border: none;
					border-radius: 10px;
					text-decoration: none;
					text-align : center;
					background-color: #eee;
					box-shadow: 3px 3px 5px 3px rgb(230,230,230);	
					margin-left:20px;
	}

	.tlbl{
			font-size:0.9em;
	}
	
	.tlbl2{
			font-size:0.9em;
			vertical-align: super;
			
	}
	.reg{
		color:#00B0B0;
		font-size :12px;

	
	}
	.i1{
		width:170px;
		
	}
	.i2{
		width:250px;
	}
	.i3{
		width:108px;
	}
	.i4{
		width:200px;
	}
	
	
	
	.mint_Btn{
		font-size:15px;
		width:80px;
		height:30px;
		color:#fff;
		font-weight:bold;
		text-decoration: none;
		text-align : center;
		background-color: rgb(0,176,176);	
		margin:40px 0 0 20px;
		box-shadow: 3px 3px 5px 3px rgb(230,230,230);	
		border:none;
		border-radius: 10px;
	}
	.mint_Btn:hover{
		color : white;
		border-radius: 10px;
		font-weight:bold;
		background-color: rgb(0 199 199);
		border:2px solid #00B0B0;
		box-shadow: 3px 3px 5px 3px rgb(230,230,230);	
		border:none;
		width:80px;
		height:30px;
	}
	
	.WMint_Btn{
		font-size:15px;
		border-radius: 10px;
		color:rgb(0,176,176);
		font-weight:bold;
		text-decoration: none;
		text-align : center;
		background-color:#fff;
		margin-left:20px;
		box-shadow: 3px 3px 5px 3px rgb(230,230,230);	
		border:none;
		width:80px;
		height:30px;
	}
	.WMint_Btn:hover{
		color : #00B0B0;
		font-weight:bold;
		background-color:#eaffff;
		border:none;
		border-radius: 10px;
		box-shadow: 3px 3px 5px 3px rgb(230,230,230);	
		border:none;
		width:80px;
		height:30px;
	}	
	
	.red_Btn{
		font-size:15px;
		width:90px;
		height:30px;
		border-radius: 10px;
		color:#fff;
		font-weight:bold;
		border: none;
		border-radius: 10px;
		text-decoration: none;
		text-align : center;
		background-color: #FF6347;	
		margin:40px 0 0 20px;
		box-shadow: 3px 3px 5px 3px rgb(230,230,230);	
		
	}
	
	/*==============================registFindInfo==============================*/
	form{
		margin : 20px 0;
	}
	#hr2{
		border:0;
		width:60px;
		background-color:#00B0B0;
		height:3px;
	}
	.l{
		font-size:24px;
		color:#00B0B0;
		font-weight:900;
	}
	#cntbox{
		margin-bottom:200px;
	}
	.find{
		padding-left:75px;
		margin-top:60px;
		width:100%;
		text-align:left;
	}
	#findId, #findPwd{
		font-size:23px;
	}
	#findIdForm>input, #findPwdForm>input{
		width : 700px;
		height : 50px;
		line-height : 40px;
		margin : 0 0 10px 0;
		font-size:20px;
		padding-left:10px;
		box-shadow:1px 2px 5px 1px rgb(230,230,230);
		border-radius:10x;
		border:none;
		
	}

	#findIdForm>input::placeholder, #findPwdForm>input::placeholder{
		font-size:18px;
	}
	#t1{
		font-size:15.5px;
		line-height:24px;
		margin:30px 0 50px 0;
	}
	.button{
		border : #00B0B0 2px solid;
		border-radius: 6px;
		width : 61%;
		height : 40px;
		text-decoration: none;
		text-align : center;
		font-size : 16px;
		padding : 0px 24px;
		color : white;
		background-color: #00B0B0
	}
	.button:hover{
		color : #00B0B0;
		background-color: white
	}	



	/*==============================registWelcome==============================*/
	.registerMainDiv2 *{
		margin : 0 auto;
		width:1000px;
		text-align : cente;
		margin-bottom:200px;
	}
	#welcome{
		font-size:55px;
		font-weight:100;
		letter-spacing:-1px;
		margin-top:140px;
		margin-bottom:20px;
		text-align:center;
	}
	#welcomeImg{
		width:100px;
		height:100px;
		margin:50px 0 30px 0;
	}
	.contentText{
		width:100%;
		height:50px;
		letter-spacing:-1px;
		line-height : 28px;
		font-size:18px;
		color:#353535;
		text-align:left;
		position:relative;
		bottom:100px;
		display:inline;
	}
	.mintTxt{
		color:#00B0B0;
	}
	#box{
		height : 420px;
		background-color : #eee;
		border-top : 3px solid #ccc;
		border-bottom : 3px solid #ccc;
		margin:0 auto;
		width:1000px;
	}
	#box div:first-child{
		border-bottom : 2px solid #ddd;
		height : 280px;
		text-align:center;
	}
	#welcomtBtns{
		height:auto;
		padding-top:20px;
		text-align:center;
	}
	.btn{
		width:25%;
		height:60px;
		font-size:20px;
		margin-left:10px;
	}
	#gray_Btn{
		border : #353535 2px solid;
		background-color : #353535;
		text-decoration: none;
		text-align : center;
		margin : 0 10px;
		color: white;
	}
	#gray_Btn:hover{
		color : white;
		background-color: #565656;
		border:0;
	}
	#mint_Btn{
		text-decoration: none;
		text-align : center;
		margin:0 10px;
		color : white;
		border: 1px solid #00B0B0;
		background-color: #00B0B0;
	}
	#mint_Btn:hover{
		color : white;
		background-color: rgb(0 199 199);
		border:0;
	}