	hr{
		border:0;
		border-top: 0.2em dotted #bbb;
	}
	#container{
		width : 1150px;
		height : 70vh;
		margin:0 auto;
		margin-top:50px;
		margin-bottom:200px;
		border-radius:5px;
		border:3px solid #bbb;
		position:relative;
		z-index:10;
	}
	#container>div{
		float:left;
	}
	.grayTxt{
		color:#353535;
		font-weight:bold;
	}
	#searchLbl{
		font-size:14px;
		position:relative;
		bottom:2px;
	}
	#listImg{
		margin-left:13px;
		width:18px;
		height:18px;
	}
	
	#info{
		width:350px;
		height:100%;
	}
	#info>div{
		float:left;
	}
	
	#naviIcon{
		width : 49px;
		height : 100%;
		background-color : #eee;
	}
	
	#naviIcon img{
		width : 38px;
		maring : 4px auto;
		margin-left:5.4px;
		margin-top:6px;
	}
	#infoPannel{
		width : 300px;
		height : 100%;
	}
	#map{
		width : 800px;
		height : 100%;
		background-color: lightblue;
	}
	#infoPannel>input[type=radio]{
		display:none;
	}
	.tab{
		display:none;
		border:0;
	}
	.tab_liTag{
		padding:10px 0 0 15px;
	}
	.tab_liTag > input{
		width:220px;
		height:30px;
		border-radius:5px;
		border:2px solid #ccc;
		padding-left:10px;
		margin-left:17px;
		font-weight:bold;
		color:#3B3B3B;
		letter-spacing:1px;
	}
	
	#tab1:checked~div:nth-of-type(1){
		display:block;
	}
	#tab2:checked~div:nth-of-type(2){
		display:block;
	}
	#tab3:checked~div:nth-of-type(3){
		display:block;
	}
	#tab4:checked~div:nth-of-type(4){
		display:block;
	}
	
	
	#pannel1{
		height: 100%;
		overflow : auto;
	}
	#searchPannel{
		position:sticky;
		top :0;
		background-color: white;
		color : white;
		z-index : 500;
	}

	#searchWord{
		width : 88%;
		height : 30px;
		font-weight:600;
		border-radius : 5px;
		margin : 10px;
		border : 2px solid black;
		padding-left:10px;
		letter-spacing:1px;
	}
	input#searchWord{
		 background-image: url(../img/img_route/search.png);
		 background-repeat: no-repeat;
		 text-indent: 15px;
	}
	
	input#searchWord:focus{
		font:none;
		background-image:none;
	}
	input#searchWord:focus::-webkit-input-placeholder {
		color: transparent;
	}
	
	#chkBicycle{
		margin-left:12px;
	}
	
	<!-- 검색한 리스트 스타일 -->
	#menu_wrap hr {
		display: block;
		height: 1px;
		border: 0;
		border-top: 2px solid #5F5F5F;
		margin:3px 0;
	}
	#menu_wrap .option{
		text-align: center;
	}
	#menu_wrap .option p {
		margin:10px 0;
	}  
	#menu_wrap .option button {
		margin-left:5px;
	}
	#placesList .item {
		position:relative;
		border-bottom:1px solid #888;
		overflow: hidden;
		cursor: pointer;
		min-height: 65px;
	}
	#placesList .item span {
		display: block;
		margin-top:4px;
	}
	#placesList .item h5, #placesList .item .info {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	#placesList .item .info{
		padding:10px 0 10px 55px;
	}
	#placesList .info .gray {
		color:#8a8a8a;
	}
	#placesList .info .jibun {
		padding-left:26px;
		background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;
	}
	#placesList .info .tel {
		color:#009900;
	}
	#placesList .item .markerbg {
		float:left;
		position:absolute;
		width:36px; height:37px;
		margin:10px 0 0 10px;
		background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;
	}
	
	#placesList .item .marker_1 {background-position: 0 -10px;}
	#placesList .item .marker_2 {background-position: 0 -56px;}
	#placesList .item .marker_3 {background-position: 0 -102px}
	#placesList .item .marker_4 {background-position: 0 -148px;}
	#placesList .item .marker_5 {background-position: 0 -194px;}
	#placesList .item .marker_6 {background-position: 0 -240px;}
	#placesList .item .marker_7 {background-position: 0 -286px;}
	#placesList .item .marker_8 {background-position: 0 -332px;}
	#placesList .item .marker_9 {background-position: 0 -378px;}
	#placesList .item .marker_10 {background-position: 0 -423px;}
	#placesList .item .marker_11 {background-position: 0 -470px;}
	#placesList .item .marker_12 {background-position: 0 -516px;}
	#placesList .item .marker_13 {background-position: 0 -562px;}
	#placesList .item .marker_14 {background-position: 0 -608px;}
	#placesList .item .marker_15 {background-position: 0 -654px;}
	
	#pagination {
		margin:10px auto;
		text-align: center;
	}
	#pagination a {
		color:#353535;
		display:inline-block;
		margin-right:10px;
		text-decoration:none;
	}
	#pagination .on {
		font-weight: bold;
		cursor: default;
		color:#00B0B0;
	}
	
	<!-- 카테고리 검색 탭 스타일 -->
	#category{
		widht : 100%;
	}
	#category>li{
		width : 100%;
		height: 40px;
		line-height : 30px;
		overflow:auto;
	}
	#category>li:nth-of-type(4){
		height : 90px;
	}
	.subCategory{
		background-color: gray;
	}
	
	.food_Btn, .sights_Btn, .accomodation_Btn, .convenient_Btn{
		float : left;
		border-radius: 5px;
		text-decoration: none;
		text-align : center;
		font-weight:bold;
		background-color: white;
	}
	.food_Btn{
		border : 2px solid #EB3807;
		color : #EB3807;
	}
	.food_Btn:hover, .sights_Btn:hover, .accomodation_Btn:hover, .convenient_Btn:hover{
		color : white;
		font-weight:bold;	
	}
	.food_Btn:hover{
		background-color: #EB3807;
	}
	.sights_Btn{
		border : 2px solid #002060;
		color: #002060;
	}
	.sights_Btn:hover{
		background-color: #002060;
	}
	.accomodation_Btn{
		border : 2px solid #5A147A;
		color: #5A147A;
	}
	.accomodation_Btn:hover{
		background-color: #5A147A;
	}
	.convenient_Btn{
		border : 2px solid #2E75B6;
		color: #2E75B6;
	}
	.convenient_Btn:hover{
		background-color: #2E75B6;
	}
	
	#routeInfo{
		color:#002060;
		font-size:15px;
		font-weight:bold;
		padding:20px 0 0 85px;
		word-spacing:5px;
		letter-spacing:1px;
	}
	
	
	<!-- 저장한 장소 목록 -->
	#pannel3{
		width : 100%;
		overflow: auto;
		padding: 0;
		margin:0;
	}
	#pannel3>div{
		width : 100%;
		height : 40px;
		font-weight:bold;
		line-height : 40px;
		padding-left:15px;
		color : white;
		border-bottom : 1px solid white;
	}
	#likeImg{
		position:relative;
		left:-5px;
		top:5px;
		width:23px;
		height:23px;
	}
	#lockImg{
		width:50px;
		height:50px;
		margin:100px 0 0 115px;
	}
	#logButtons{
		padding-left:50px;
	}
	.mint_Btn{
		font-weight:bold;
		border-radius: 5px;
		text-decoration: none;
		text-align : center;
		padding:3px 6px;
		margin-right: 8px;
		color : white;
		border: 1px solid #00B0B0;
		background-color: #00B0B0;
	}
	.mint_Btn:hover{
		color : #00B0B0;
		font-weight:bold;
		background-color: white;
		border:2px solid #00B0B0;
	}
	.WMint_Btn{
		width:80px;
		height:35px;
		font-size:15px;
		font-weight:bold;
		border-radius: 5px;
		text-decoration: none;
		text-align : center;
		padding:3px 6px;
		color : #00B0B0;
		border: 2px solid #00B0B0;
		background-color: white;
	}
	.WMint_Btn:hover{
		color : white;
		font-weight:bold;
		background-color: #00B0B0;
		border:2px solid #00B0B0;
	}
	
	#title{
		width:220px;
		height:30px;
		margin:0 0 10px 20px;
		border:0;
    	border-radius: 5px;
    	font-weight:bold;
    	padding-left: 8px;
   		background-color: #F1F1F1;
	}
	#routeSave{
		padding:40px 0 0 20px;
	}
	#txt2{
		font-size:10px;
	}
	#movingImg{
		width:145px;
		height:115px;
		margin:20px 0 0 50px;
	}

	.selectBox{
		height:30px;
		font-size:0.8em;
		font-weight:bold;
		color:#353535;
		border:0px;
		border-radius:5px;
		background-color:#eee;
		background: url(../img/img_route/selectBox.png) no-repeat 92% 55%;
		-webkit-appearance: none; /* 네이티브 외형 감추기 */
    	-moz-appearance: none;
    	appearance: none;
    	margin-right:5px;
    	padding-left:10px;
    	margin-bottom:20px;
	}
	
	.saveTxt{
		color:#00B0B0;
		font-weight:bold;
		font-size:13px;
		padding-left:20px;
	}
	.saveTxt2{
		font-size:15px;
	}
	
	.gray_Btn{
		border : #353535 2px solid;
		border-radius:5px;
		background-color : #353535;
		text-decoration: none;
		text-align : center;
		font-size : 16px;
		font-weight:bold;
		padding : 6px 12px;
		margin : 10px 0 0 6px;
		color: white;
	}
	.gray_Btn:hover{
		color : #353535;
		font-weight:bold;
		background-color: white;
	} 



<!-- ==================js파일 스타일================= -->

	#info_a{
		
	}
	#infoWin{
		padding:5px 5px 5px 15px;
		font-size:12px;
		text-align:center;
		float:center;
		width:150px;
		height:140px;
		border:6px solid #eee;
	}
	#info_a:link {
		font-weight:bold;
		text-decoration: none;
		border: rgba(75,112,253,0.3) solid;
		border-width: 0 0 6px 0;
	}
	#start_Btn{
		text-decoration: none;
		text-align : center;
		font-weight:bold;
		border-radius:5px;
		background-color : white;
		border : 2px solid #0E6C15;
		color: #0E6C15;
	}
	#via_Btn{
		text-decoration: none;
		text-align : center;
		font-weight:bold;
		border-radius:5px;
		background-color : white;
		border : 2px solid #D68A00;
		color: #D68A00;	
	}
	#arrive_Btn{
		text-decoration: none;
		text-align : center;
		font-weight:bold;
		border-radius:5px;
		background-color : white;
		border : 2px solid #C41F04;
		color: #C41F04;	
	}
	#start_Btn:hover{
		color : white;
		font-weight:bold;
		border-radius:5px;
		background-color: #0E6C15;
	}	
	#via_Btn:hover{
		color : white;
		font-weight:bold;
		border-radius:5px;
		background-color: #D68A00;
	}
	#arrive_Btn:hover{
		color : white;
		font-weight:bold;
		border-radius:5px;
		background-color: #C41F04;
	}	
	
	#saveBtn{
		width:200px;
		height:45px;
		margin-left:20px;
		font-size:16px;
		letter-spacing:1px;
	}	


	.categoryDiv1{
		width:150px;
		padding-left:30px;	
	}
	.categoryDiv2{
		width:150px;
		padding-left:23px;	
	}
	
	#elevation_chart{
		width:270px;
		height:125px;
		margin:20px 10px 0 15px;
		position:relative;
		z-index:30;
	}
	#chart_Back{
		width:280px;
		height:135px;
		background-color:#eee;
		position:relative;
		bottom:130px;
		left:10px;
		z-index:20;
	}
	
	
	.food_Btn2, .sights_Btn2, .accomodation_Btn2, .convenient_Btn2{
		float : left;
		border-radius: 5px;
		text-decoration: none;
		text-align : center;
		font-weight:bold;
	}
	.food_Btn2{
		border : 2px solid #EB3807;
		color : white;
		background-color: #EB3807;
	}
	.food_Btn2:hover, .sights_Btn2:hover, .accomodation_Btn2:hover, .convenient_Btn2:hover{
		font-weight:bold;
		background-color: white;
	}
	.food_Btn2:hover{
		color : #EB3807;
	}
	.sights_Btn2{
		border : 2px solid #002060;
		color : white;
		background-color: #002060;
	}
	.sights_Btn2:hover{
		color : #002060;
	}
	.accomodation_Btn2{
		border : 2px solid #5A147A;
		color : white;
		background-color: #5A147A;
	}
	.accomodation_Btn2:hover{
		color : #5A147A;
	}
	.convenient_Btn2{
		border : 2px solid #2E75B6;
		color : white;
		background-color: #2E75B6;
	}
	.convenient_Btn2:hover{
		color : #2E75B6;
	}