@charset "UTF-8";
	body{
		margin:0;
		padding:0;
    }

    hr{
		border:0;
		width:900px;
		background-color:#ccc;
		height:1px;
	}

	.mainDiv{
		width:800px;
		height:1500px;
		margin:0 auto;
	}
	/*검색옵션바*/
	.optionBar{
		width:800px;
		height:50px;
		margin-bottom:60px;
		text-align:center;
	}
	.regionSelect{
		width:150px;
		height:40px;
		text-align:center;
		font-size:1em;
		font-weight:bold;
		color:#7F7F7F;
		border:0px;
		border-radius:5px;
		background-color:#eee;
		background: url(../img/img_route/selectBox.png) no-repeat 95% 50%;
		-webkit-appearance: none; /* 네이티브 외형 감추기 */
    	-moz-appearance: none;
    	appearance: none;
    	margin-right:5px;
    	padding-left:10px;
	}
	.schBar{
		width:400px;
		height:38px;
		border:0px;
		border-radius:5px;
		padding-left:10px;
		z-index: 1;
		background-color:#F1F1F1;
		
	}
	/*관리자 추천코스*/
	#hitCourse{
		height:220px;
	}

	#hitDiv > b, .title, #mapDiv b{
		color:#353535;
		font-size:1.3em;
		font-weight:600;
	}
	#hitCourse{
		float:left;
		height:200px;
		margin: 15px 0 50px 0;
	}
	.thumbnail{
		width:19.4%;
		height:150px;
		margin-top:1px;
		border-radius:5px;
	}
	.hitIcon{
		width:70px;
		height:30px;
		margin-left:85px;
		position:absolute;
		border-radius:5px;
	}
	
	/*코스검색 컨텐츠 전체*/
	#routeSearch{
		width:800px;
		height:130px;
		margin-left:5px;
		padding-top:200px;
		text-align:left;
		background-color:white;
	}
	.title{
		padding:0px 10px 10px 0px;
	}
	#starLbl{
		font-size:23px;
		font-weight:bold;
		padding-left:5px;
		position:relative;
		bottom:7px;
	}
	#subTxt{
		color:#353535;
		font-size:1em;
		font-weight:600;
	}
	#lBar{
		color:#7F7F7F;
		font-weight:400;
	}
	#paging{
		color:#353535;
		font-size:1em;
		font-weight:400;
		float:right;
		padding-right:15px;	
	}
	
	/*컨텐츠*/
	#content{
		width:800px;
		height:700px;
	}
	.thumbnail2{
		width:250px;
		height:250px;
		border-radius:5px;
	}
	#contentDiv{
		float:left;
		margin-right:5px;
	}
	.contentDiv{
		float:left;
		width:33.3%;
		text-align:center;
	}
	.star{
		width:150px;
		height:30px;
		margin-bottom:50px;
	}
	
	.mint_Btn{
		  font-size:15px;
		  font-weight:bold;
		  border-radius: 5px;
		  text-decoration: none;
		  text-align : center;
		  padding:3px 6px;
		  margin:0 10px;
		  color : white;
		  border: 1px solid #00B0B0;
		  background-color: #00B0B0;
	}
	
	
	
	/*==========================routeSearchView.jsp==============================*/
	#mapDiv{
		width:100%;
		height:200px;
	}
	#mapDiv b{
		height:160px;
	}
	.wordCut{
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
		font-size:1.6em;
	}
	
	/*지도&고도정보*/
	#map_Altitude{
		width:65%;
		height:469px;
		float:left;
		margin-bottom:30px;
	}
	#blueLine{
		border:3px inset #5AB1C0;
		margin-bottom:5px;
	}
	
	/*코스이름&별점*/
	#routeInfoDiv{
		width:35%;
		float:left;
		height:470px;
		margin-bottom:30px;
	}
	#routeInfo{
		height:52.5%;
		padding-left:10px;
	}
	
	#grade{
		height:10%;
		float:left;
		padding:13px;
	}
	#gradeSelect{
		width:170px;
		height:30px;
		font-size:0.95em;
		font-weight:bold;
		color:#353535;
		border:0px;
		border-radius:5px;
		background-color:#eee;
		background: url(../img/img_route/selectBox.png) no-repeat 92% 55%;
		-webkit-appearance: none; /* 네이티브 외형 감추기 */
    	-moz-appearance: none;
    	appearance: none;
    	margin-right:5px;
    	padding-left:10px;
	}
	
	 .gray_Btn{
		border : #353535 2px solid;
		border-radius: 5px;
		background-color : #353535;
		text-decoration: none;
		text-align : center;
		font-size : 12px;
		padding : 4px 8px;
		color: white;
 	}
 	.gray_Btn:hover{
		color : #353535;
		font-weight:bold;
		background-color: white;
 	}
 	#grayBtn{
 		width:48px;
 		float:left;
 		position: relative;
  		left:230px;
 	}
 	.mint_Btn{
		font-size:15px;
		font-weight:bold;
		text-decoration: none;
		text-align : center;
		padding:3px 6px;
		margin:0 10px;
		color : white;
		border: 1px solid #00B0B0;
		background-color: #00B0B0;
	}
	.mint_Btn:hover{
		color : white;
		font-weight:bold;
		background-color: #00B0B0;
	}
	.WMint_Btn{
		font-size:15px;
		font-weight:bold;
		border-radius: 5px;
		text-decoration: none;
		text-align : center;
		padding:3px 6px;
		margin:0 10px;
		color : #00B0B0;
		border: 2px solid #00B0B0;
		background-color: white;
	}	

	#placeList{
		height:630px;
	}
	#placeList >*{
		color:#005766;
		font-weight:bold;
		float:left;
		width:180px;
		height:200px;
		margin:0 auto;
		margin-right:17.1px;
		padding-left:10px;
	}
	#placeList ul{
		margin-top:45px;
	}
	#placeList ul > li{
		line-height:25px;
	}

	#placeList:nth-child(1),#placeList:nth-child(2),#placeList:nth-child(3){
		marign:10px 12px 10px 0;
	}

	#restaurant, #tour, #accommodation, #facilities{
		background-color:white;
		border:2px inset #5AB1C0;
		border-radius:5px;
		padding:10px;
		text-align:center;	
	}
	
	#commentDiv{
		height:270px;
	}
	#cmtTitle{
		font-weight:bold;
		font-size:20px;
		padding:70px 0 13px 0;
	}
	#saveBtn{
		width:50px;
		border-radius: 0;
		position: relative;
		left: 763px;
		top: 114px;
    	z-index:200;
	}
	#commentBox{
		width:894px;
		height:100px;
		font-size:1.3em;
		padding:5px 0 0 10px;
		margin-top:8px;
		z-index:100;
	}
	#CMTbottomDiv{
		background-color:white;
		border-top:1px solid #ccc;
		width:902px;
		height:28px;
		position: relative;
		left:2px;
		bottom: 55px;
		z-index:99;
	}
	#txtCounting{
		color:gray;
		position: relative;
		left:780px;
		bottom: 31px;
		z-index:110;		
	}
	
	
	/*댓글*/
	.userid{
		font-weight:bold;
		color:#353535;
	}
	#comment{
		height:500px;
	}
	#comment ul{
		word-break:break-all;
	}
	#comment li{
		margin-bottom:5px;
	}
	#paging2{
		color:#353535;
		font-size:1em;
		font-weight:400;
		padding-right:15px;	
	}
	

	.blue_Btn{
		  font-size:15px;
		  font-weight:bold;
		  border-radius: 5px;
		  text-decoration: none;
		  text-align : center;
		  padding:3px 6px;
		  margin:0 10px;
		  color : white;
		  border: 2px solid #247B8A;
		  background-color: #247B8A;
	}
	.blue_Btn:hover{
		color : #247B8A;
		font-weight:bold;
		background-color: white;
		border:2px solid #247B8A;
	}
	.WBlue_Btn{
		  font-size:15px;
		  font-weight:bold;
		  border-radius: 5px;
		  text-decoration: none;
		  text-align : center;
		  padding:3px 6px;
		  margin:0 10px;
		  color : #247B8A;
		  border: 2px solid #247B8A;
		  background-color: white;
	}
	.WBlue_Btn:hover{
		color : white;
		font-weight:bold;
		background-color: #247B8A;
		border:2px solid #247B8A;
	}
	
	/* 스위치 만들기 */	
	.switch {
	  position: relative;
	  display: inline-block;
	  width: 60px;
	  height: 34px;
	}
	
	/* Hide default HTML checkbox */
	.switch input {
	  opacity: 0;
	  width: 0;
	  height: 0;
	}
	
	/* The slider */
	.slider {
	  position: absolute;
	  content: "";
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: #ccc;
	  -webkit-transition: .4s;
	  transition: .4s;
	}
	
	.slider:before {
	  position: absolute;
	  content: "";
	  height: 26px;
	  width: 26px;
	  left: 4px;
	  bottom: 4px;
	  background-color: white;
	  -webkit-transition: .4s;
	  transition: .4s;
	}
	
	input:checked + .slider {
	  background-color: #2196F3;
	}
	
	input:focus + .slider {
	  box-shadow: 0 0 1px #2196F3;
	}
	
	input:checked + .slider:before {
	  -webkit-transform: translateX(26px);
	  -ms-transform: translateX(26px);
	  transform: translateX(26px);
	}
	
	/* Rounded sliders */
	.slider.round {
	  border-radius: 34px;
	}
	
	.slider.round:before {
	  border-radius: 50%;
	}