@charset "UTF-8";
	body{
		margin:0;
		padding:0;
		
		background: url(../img/img_route/bike_pattern.png);
		no-repeat:repeat;
		
		font-family:'Noto Sans KR', sans-serif;
    }

    hr{
		border:0;
		width:1200px;
		background-color:#ccc;
		height:1px;
	}
 	textarea:focus {
  		outline: none;
 	}
 	button:focus {
    	outline: none;
 	}
 	input:focus {
    	outline: none;
	}
	select:focus {
		outline: none;
	}
	textarea#tourReplyWrite::placeholder{
		font-size:16px;
		font-weight:bold;
		color:#AAAAAA;
	}


	.routeSearchViewDiv2{
		width:1260px;
		height:auto;
		padding:0 30px 0 37px;
		margin:0 auto;
		background-color:white;
	}


	#mapDiv{
		width:100%;
		height:1210px;
		padding-top:100px;

	}
	#mapDiv b{
		font-size:23px;
		font-weight:600;
		height:160px;
	}
	#titleLine{
		background-color:#353535;
		margin-bottom:25px;
	}
	.wordCut{
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
		font-size:28px;
	}
	.txtShadow{
		font-size:18px;
		color:#005766;
		height:40px;
		line-height: 40px;
		text-shadow: 2px 2px 6px #8EC7D0;	
	}
	
	
	/*지도&고도정보*/
	#map_Altitude{
		width:73%;
		height:81.5%;
		float:left;
		margin-bottom:30px;
	}
	#elevation_chart{
		width:100%;
		height:25%;
	}

	#blueLine{
		border:3px inset #5AB1C0;
		margin-bottom:5px;
	}
	
	/*코스이름&별점*/
	#routeInfoDiv{
		width:25%;
		height:80%;
		float:left;
		margin:0 0 30px 20px;
	}
	#routeInfo{
		height:auto;
		padding-left:10px;
		color:#002060;
		font-size:17px;
		font-weight:bold;
		padding:50px 0 10px 0;
		word-spacing:5px;
		letter-spacing:1px;
		font-family:'Noto Sans KR', sans-serif;
	}
	#routeInfo > ul > li > input{
		width:98%;
		height:45px;
		margin:3px;
		padding-left:15px;
		font-size:16px;
		font-weight:bold;
		letter-spacing:1.5px;
		border:2px inset #A6A6A6;
		border-radius:5px;
		background:#eee;
	}
	
	#grade{
		height:10%;
		float:left;
		padding:13px;
	}
	#gradeSelect{
		width:90%;
		height:63%;
		font-size:14.5px;
		font-weight:bold;
		color:#353535;
		border:none;
		border-radius:10px;
		background-color:#eee;
		background: url(../img/img_route/selectBox.png) no-repeat 92% 55%;
		-webkit-appearance: none; /* 네이티브 외형 감추기 */
    	-moz-appearance: none;
    	appearance: none;
    	margin:0 -19px 0 20px;
    	padding-left:20px;
    	box-shadow: 3px 3px 5px 3px rgb(230,230,230);
	}
	
	 .gray_Btn{
		border-radius:10px;
		background-color : #353535;
		text-decoration: none;
		text-align : center;
		font-size : 12px;
		padding : 4px 8px;
		color: white;
		border : 0;
		font-weight:bold;
		box-shadow: 3px 3px 5px 3px rgb(230,230,230);
 	}
 	.gray_Btn:hover{
		color : white;
		background-color: #777777;
 	}
 	#grayBtn{
 		width:33%;
 		height:60%;
 		float:left;
 		position: relative;
  		left:203px;
  		bottom:39px;
  		font-size:15px;
 	}
 	.saveBtns{
 		text-align:center;
 		margin-top:140px;
 		padding:23px;
 	}
 	
 	.mint_Btn{
		font-size:15px;
		font-weight:bold;
		text-decoration: none;
		text-align : center;
		padding:3px 6px;
		margin:0 10px;
		color : white;
		border: 1px solid #00B0B0;
		background-color: #00B0B0;
		width : auto;
	}
	.mint_Btn:hover{
		color : white;
		font-weight:bold;
		background-color: #00B0B0;
	}
	.WMint_Btn{
		font-size:15px;
		font-weight:bold;
		border-radius: 5px;
		text-decoration: none;
		text-align : center;
		padding:3px 6px;
		margin:0 10px;
		color : #00B0B0;
		border: 2px solid #00B0B0;
		background-color: white;
	}
	#placeList{
		text-align:center;
	}
	#placeList >*{
		width:25%;
		font-weight:bold;
		float:left;
		margin-top:25px;
	}
	
	#foodTxt, #sightsTxt, #accommodationTxt, #convenientTxt{
		font-size:16px;
	}
	#foodTxt{
		color:#d4350a;
		text-shadow:1px 1px 10px #ff985b;
	}
	#sightsTxt{
		color:#032b7b;
		text-shadow:1px 1px 10px #9eaaff;
	}
	#accommodationTxt{
		color:#4a0e65;
		text-shadow:1px 1px 10px #ad92ff;
	}
	#convenientTxt{
		color:#276cab;
		text-shadow:1px 1px 10px #9cd1ff;
	}
	
	
	#placeList ul{
		display:inline;
		margin-top:45px;
	}
	#placeList ul > li{
		line-height:25px;
		font-size:14px;
	}
	#placeList a:link{
		text-decoration: none;
	}
	#placeList:nth-child(1),#placeList:nth-child(2),#placeList:nth-child(3){
		marign:10px 12px 10px 0;
	}
	#foodList > li > a{
		color:#a52502;
	}
	#sightsList > li > a{
		color:#002060;
	}
	#accommodationList > li > a{
		color:#700a9e;
	}
	#convenientList > li > a{
		color:#134e84;
	}

	#restaurant, #tour, #accommodation, #facilities{
		background-color:white;
		border:2px inset #5AB1C0;
		border-radius:5px;
		padding:10px;
		text-align:center;	
	}
	
	#commentDiv{
		height:270px;
	}
	#cmtTitle{
		font-weight:bold;
		font-size:20px;
		padding:70px 0 13px 0;
	}
	#saveBtn{
		width:50px;
		border-radius: 0;
		position: relative;
		left: 763px;
		top: 114px;
    	z-index:200;
	}
	#commentBox{
		width:894px;
		height:100px;
		font-size:1.3em;
		padding:5px 0 0 10px;
		margin-top:8px;
		z-index:100;
	}
	#CMTbottomDiv{
		background-color:white;
		border-top:1px solid #ccc;
		width:902px;
		height:28px;
		position: relative;
		left:2px;
		bottom: 55px;
		z-index:99;
	}
	#txtCounting{
		color:gray;
		position: relative;
		left:780px;
		bottom: 31px;
		z-index:110;		
	}
	
	
	/*댓글*/
	.userid{
		font-weight:bold;
		color:#353535;
	}
	#comment{
		height:500px;
	}
	#comment ul{
		word-break:break-all;
	}
	#comment li{
		margin-bottom:5px;
	}
	#paging2{
		color:#353535;
		font-size:20px;
		font-weight:400;
		padding-right:15px;	
	}
	

	.blue_Btn{
		  font-size:17px;
		  border-radius:10px;
		  text-decoration: none;
		  text-align : center;
		  padding:3px 6px;
		  margin:0 10px;
		  float:left;
		  font-weight:bold;
		  color : white;
		  background-color: rgb(0,176,176);
		  box-shadow: 3px 3px 5px 3px rgb(230,230,230);
		  border:none;
	}
	.blue_Btn:hover{
	
		color : white;
		background-color: #49a2b1;
	}
	.WBlue_Btn{
		  font-size:17px;
		  border-radius:10px;
		  font-weight:bold;
		  text-decoration: none;
		  text-align : center;
		  padding:3px 6px;
		  margin:0 10px;
		  color:rgb(0,176,176);
		  border:none;
		  background-color: white;
		  box-shadow: 3px 3px 5px 3px rgb(230,230,230);
	}
	.WBlue_Btn:hover{
		color : #1ba5bd;
		border:none;
		background-color: #d6f9ff;
	}
	
	/* 스위치 만들기 */	
	.switch {
	  position: relative;
	  display: inline-block;
	  width: 60px;
	  height: 34px;
	}
	
	/* Hide default HTML checkbox */
	.switch input {
	  opacity: 0;
	  width: 0;
	  height: 0;
	}
	
	/* The slider */
	.slider {
	  position: absolute;
	  content: "";
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: #ccc;
	  -webkit-transition: .4s;
	  transition: .4s;
	}
	
	.slider:before {
	  position: absolute;
	  content: "";
	  height: 26px;
	  width: 26px;
	  left: 4px;
	  bottom: 4px;
	  background-color: white;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	
	input:checked + .slider:before {
	  -webkit-transform: translateX(26px);
	  -ms-transform: translateX(26px);
	  transform: translateX(26px);
	}
	
	
	.foodCheck:checked + .slider {
	  background-color: #fb7e4e;
	}
	
	.foodCheck:focus + .slider {
	  box-shadow: 0 0 1px #fb7e4e;
	}
	
	.sightCheck:checked + .slider {
	  background-color: #042e82;
	}
	
	.sightCheck:focus + .slider {
	  box-shadow: 0 0 1px #042e82;
	}
	
	.accommodationCheck:checked + .slider {
	  background-color: #631786;
	}
	
	.accommodationCheck:focus + .slider {
	  box-shadow: 0 0 1px #631786;
	}
	
	.convenientCheck:checked + .slider {
	  background-color: #519de2;
	}
	
	.convenientCheck:focus + .slider {
	  box-shadow: 0 0 1px #519de2;
	}
	
	input:checked + .slider:before {
	  -webkit-transform: translateX(26px);
	  -ms-transform: translateX(26px);
	  transform: translateX(26px);
	}
	
	/* Rounded sliders */
	.slider.round {
	  border-radius: 34px;
	}
	
	.slider.round:before {
	  border-radius: 50%;
	}
	
	
	
	.map {
	    -webkit-transform:scale(1);
	    -moz-transform:scale(1);
	    -ms-transform:scale(1); 
	    -o-transform:scale(1);  
	    transform:scale(1);
	    -webkit-transition:.3s;
	    -moz-transition:.3s;
	    -ms-transition:.3s;
	    -o-transition:.3s;
	    transition:.3s;
	}
	.map:hover {
	    -webkit-transform:scale(1.1);
	    -moz-transform:scale(1.1);
	    -ms-transform:scale(1.1);   
	    -o-transform:scale(1.1);
	    transform:scale(1.1);
	}
	
	.title{
		color:#353535;
		font-size:25px;
		font-weight:600;
		margin-top:35px;
		padding:0px 10px 10px 20px;
	}	
	.course_Info{
		padding:38px 0 0 30px;
	}
	
	
	/*=========목록보기=========*/
	.prevTxt{
		margin:25px 0 25px 60px;
		font-size:16px;
		letter-spacing:1px;
	}
	
	.prev_next{
		font-size:13px;
		margin:0 45px 0 20px;
	}
	
	.prevTxt > a{
		color:black;
		text-decoration:none;
	}
	
	.prevTxt > a:hover{
		color:gray;
	}
	
	.listBtn{
		text-align:right;
	}
	.listBtn > button{
		width:110px;
		height:45px;
		border-radius:10px;
		background-color:white;
		border:1px solid #a7a7a7;
		color:#717171;
		font-size:16px;
		box-shadow: 3px 3px 5px 3px rgb(230,230,230);
	}
	
	/* 비공개 스크랩 삭제 기능*/
	
	#routeWriterMenu{
		margin-top : 30px;
	}
	#routeWriterMenu>ul{
		height : 30px;
		line-height : 30px;
		display: inline-block;
		width : 100%;
	}
	
	#routeWriterMenu>ul>li{
		float : left;
		height : 30px;
		line-height : 30px;
	}
	
	#routeWriterMenu>ul>li:nth-of-type(3),#routeWriterMenu>ul>li:nth-of-type(4){
		float : right;
	}
	
	#routeWriterMenu .WMint_Btn,#routeWriterMenu .mint_Btn{
		font-size: 17px;
	    font-weight: bold;
	    border-radius: 5px;
	    text-decoration: none;
	    text-align: center;
	    padding: 3px 6px;
	    margin: 5px 10px;
   	    color: #00B0B0;
	    width:85px; height:35px;
	    border: 2px solid #00B0B0;
	    background-color: white;
	    letter-spacing:2px;
	    height: 30px;
	    line-height: 20px;
	}
	
	
	#routeWriterMenu .mint_Btn{
		color : white;
		background-color: #00B0B0;
		letter-spacing:0;
		font-size:small;
	}
	
	.labelClass{
		background-color:rgb(64,64,64);
	    color:#fff;
	    font-weight:bold;
	    border-radius: 8px;
	    border: none;
	    width:70px;
	    height:30px;
	    line-height : 20px;
	    text-align: center;
	    box-shadow: 3px 3px 5px 3px rgb(230,230,230);
		font-size:15px;
		margin-right: 10px;
	}
	.starRatingGroup{
		height : 39px;
		margin-left : 20px;
	}
	.starRatingGroup li{
		line-height : 39px;
		float: left;
		margin-right : 10px;
	}
	
	.starRatingGroup li:nth-of-type(1){
		margin-top : 5px;
	}
	
	.star-rating{width : 125px;}
	.star-rating, .star-rating span{display : inline-block; height: 39px; overflow:hidden;  
		background : url(/home/img/img_route/starGray.png) no-repeat;
	}
		
	.star-rating span{
		background : url(/home/img/img_route/starColored.png) no-repeat;
		float : left;
		line-height:0; 
		vertical-align : top;
	}