@charset "UTF-8";
	hr{
		border:0;
		border-top: 0.2em dotted #bbb;
	}
	.route_hr{
		margin: 13px 0 14px 0;
	}
	.route_modalhr{
		margin: 7px 0 7px 0;
	}
	textarea:focus {
		outline: none;
	}
	button:focus {
  		outline: none;
	}
	input:focus {
  		outline: none;
	}
	ul,li{
			margin:0px; padding:0px;list-style-type:none;
	}
	#mainDivMap{
		width : 100%;
		display : flex;
		flex-direction:row;
		margin-top:-25px;
		min-height : calc(100vh - 170px);	
	}
	
	#mainDivMap>div{
		margin:0;
		padding:0;
		float:left;
		overflow:hidden;
		min-height : inherit;
	}
	.grayTxt{
		color:#353535;
		font-weight:bold;
		font-family:'Noto Sans KR', sans-serif;
	}
	#searchLbl{
		color:#5A3601;
		font-size:16px;
		position:relative;
		top:3px;
	}
	#listImg{
		margin-left:21px;
		width:18px;
		height:18px;
	}
	
	#info{
		width:432px;
		height:inherit;
	}
	#info>div{
		float:left;
	}
	
	#naviIcon{
		width : 82px;
		height : 100%;
		background-color : #eee;
	}
	
	#naviIcon img{
		width : 45px;
		margin:23px 0 0 15px;
	}
	#infoPannel{
		width : 350px;
		height : 100%;
	}
	#map{
		flex : 1;
		height : 100%;
	}
	#infoPannel>input[type=radio]{
		display:none;
	}
	.tab{
		display:none;
		border:0;
	}
	.tab > div{
		font-size:16px;
	}
	.tab_liTag{
		padding:0 0 5px 48px;
	}
	.tab_liTag input[type=text]{
		width:275px;
		height:40px;
		font-size:16px;
		border-radius:5px;
		padding-left:10px;
		margin-left:-10px;
		font-weight:bold;
		letter-spacing:1px;
	}

	.tab_liTag input:not(.startBox, .arriveBox){
		border:2px solid #ccc;
		color:#3B3B3B;
	}
	#foodList, #sightsList, #accomodationList, #convenientList{
		padding-top:4px;
	}
	
	.startBox{
		color:#548434;
		background-color:#E6F2DE;
		border:2px solid #548434;	
	}
	input.startBox::-webkit-input-placeholder {
		color: #548434;
	}
	.arriveBox{
		color:#EA3E3E;
		background-color:#FFE5E5;
		border:2px solid #EA3E3E;	
	}
	input.arriveBox::-webkit-input-placeholder {
		color: #EA3E3E;
	}
	
	#tab1:checked~div:nth-of-type(1){
		display:block;
	}
	#tab2:checked~div:nth-of-type(2){
		display:block;
	}
	#tab3:checked~div:nth-of-type(3){
		display:block;
	}
	#tab4:checked~div:nth-of-type(4){
		display:block;
	}
	
	
	#pannel1{
		height: 100%;
		overflow : auto;
	}
	#searchPannel{
		position:sticky;
		top :0;
		background-color: white;
		color : white;
		z-index : 500;
	}

	#searchWord{
		width : 88%;
		height : 40px;
		border-radius : 5px;
		margin : 21px;
		border : 2px inset #A6A6A6;
		padding-left:10px;
		letter-spacing:1px;
		color:black;
	}
	input#searchWord{
		 background-image: url(../img/img_route/search.png);
		 background-repeat: no-repeat;
		 text-indent: 15px;
		 font-family:'Noto Sans KR', sans-serif;
	}
	
	input#searchWord:focus{
		font:none;
		background-image:none;
	}
	input#searchWord:focus::-webkit-input-placeholder {
		color: transparent;
	}
	
	#chkBicycle{
		margin-left:21px;
	}
	
	<!-- 寃��깋�븳 由ъ뒪�듃 �뒪���씪 -->
	#menu_wrap hr {
		display: block;
		height: 1px;
		border: 0;
		border-top: 2px solid #5F5F5F;
		margin:3px 0;
	}
	#menu_wrap .option{
		text-align: center;
	}
	#menu_wrap .option p {
		margin:10px 0;
	}  
	#menu_wrap .option button {
		margin-left:5px;
	}
	#placesList .item {
		position:relative;
		border-bottom:2px solid #eee;
		overflow: hidden;
		cursor: pointer;
		min-height: 65px;
		padding-left:30px;
	}
	#placesList .item span {
		display: block;
		margin-top:4px;
	}
	#placesList .item h5, #placesList .item .info {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		font-family:'Noto Sans KR', sans-serif;
	}
	#placesList .item .info{
		padding:10px 0 10px 55px;
	}
	#placesList .info .gray {
		color:#2E75B6;
	}
	#placesList .info .jibun {
		padding-left:26px;
		background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;
	}
	#placesList .info .tel {
		color:#C90049;
	}
	#placesList .item .markerbg {
		float:left;
		position:absolute;
		width:36px; height:37px;
		margin:10px 0 0 10px;
		background:url(/home/img/img_route/marker_number_gray.png) no-repeat;
	}
	
	#placesList .item .marker_1 {background-position: 0 -10px;}
	#placesList .item .marker_2 {background-position: 0 -56px;}
	#placesList .item .marker_3 {background-position: 0 -102px}
	#placesList .item .marker_4 {background-position: 0 -148px;}
	#placesList .item .marker_5 {background-position: 0 -194px;}
	#placesList .item .marker_6 {background-position: 0 -240px;}
	#placesList .item .marker_7 {background-position: 0 -286px;}
	#placesList .item .marker_8 {background-position: 0 -332px;}
	#placesList .item .marker_9 {background-position: 0 -378px;}
	#placesList .item .marker_10 {background-position: 0 -423px;}
	#placesList .item .marker_11 {background-position: 0 -470px;}
	#placesList .item .marker_12 {background-position: 0 -516px;}
	#placesList .item .marker_13 {background-position: 0 -562px;}
	#placesList .item .marker_14 {background-position: 0 -608px;}
	#placesList .item .marker_15 {background-position: 0 -654px;}
	
	#pagination {
		margin:10px auto;
		text-align: center;
	}
	#pagination a {
		font-size:18px;
		color:#353535;
		display:inline-block;
		margin-right:10px;
		text-decoration:none;
		letter-spacing:5px;
	}
	#pagination .on {
		font-weight: bold;
		cursor: default;
		color:#00B0B0;
	}
	
	<!-- 移댄뀒怨좊━ 寃��깋 �꺆 �뒪���씪 -->
	#category{
		widht : 100%;
	}
	#category>li{
		width : 100%;
		height: 40px;
		line-height : 30px;
		overflow:auto;
	}
	#category>li:nth-of-type(4){
		height : 90px;
	}
	.subCategory{
		background-color: gray;
	}
	
	.food_Btn, .sights_Btn, .accomodation_Btn, .convenient_Btn{
		float : left;
		border-radius: 5px;
		text-decoration: none;
		text-align : center;
		font-weight:bold;
		letter-spacing:1px;
		background-color: white;
	}
	.food_Btn{
		background-color : #EB3807;
		border: 0;
		color:white;
	}
	.food_Btn:hover, .sights_Btn:hover, .accomodation_Btn:hover, .convenient_Btn:hover{
		color : white;
		font-weight:bold;	
	}
	.food_Btn:hover{
		background-color: #f76f4a;
	}
	.sights_Btn{
		background-color : #002060;
		border: 0;
		color:white;
	}
	.sights_Btn:hover{
		background-color: #304e8a;
	}
	.accomodation_Btn{
		background-color : #5A147A;
		border: 0;
		color:white;
	}
	.accomodation_Btn:hover{
		background-color: #784490;
	}
	.convenient_Btn{
		background-color : #2E75B6;
		border: 0;
		color:white;
	}
	.convenient_Btn:hover{
		background-color: #6198ca;
	}
	
	#routeInfo{
		color:#002060;
		font-size:17px;
		font-weight:bold;
		text-align:center;
		padding:50px 0 10px 0;
		margin-bottom:30px;
		word-spacing:5px;
		letter-spacing:1px;
		font-family:'Noto Sans KR', sans-serif;
	}
	
	
	<!-- ���옣�븳 �옣�냼 紐⑸줉 -->
	#pannel3{
		width : 100%;
		overflow: auto;
		padding: 0;
		margin:0;
	}
	#pannel3>div{
		width : 100%;
		height : 40px;
		font-weight:bold;
		line-height : 40px;
		padding-left:15px;
		color : white;
		border-bottom : 1px solid white;
	}
	#likeImg{
		position:relative;
		right:4px;
		bottom:2px;
		width:24px;
		height:24px;
	}
	#lockImg{
		width:50px;
		height:50px;
		margin:160px 0 0 150px;
	}
	#logButtons{
		text-align:center;
	}
	.mint_Btn{
		font-weight:bold;
		border-radius: 5px;
		text-decoration: none;
		text-align : center;
		padding:3px 6px;
		margin-right: 8px;
		color : white;
		background-color: #00B0B0;
		border: 0;
	}
	.mint_Btn:hover{
		color : white;
		background-color: #3cc1c1;
	}
	.WMint_Btn{
		width:80px;
		height:35px;
		font-size:15px;
		font-weight:bold;
		border-radius: 5px;
		text-decoration: none;
		text-align : center;
		padding:3px 6px;
		color : #00B0B0;
		border: 2px solid #00B0B0;
		background-color: white;
	}
	.WMint_Btn:hover{
		color : white;
		font-weight:bold;
		background-color: #00B0B0;
		border:2px solid #00B0B0;
	}
	
	#title{
		width:295px;
		height:38px;
		margin:0 0 10px 8px;
		border:0;
    	border-radius: 5px;
    	font-size:14px;
    	font-family:'Noto Sans KR', sans-serif;
    	padding-left: 12px;
   		background-color: #F1F1F1;
   		border:2px inset #A6A6A6;
	}
	#routeSave{
		padding:40px 0 0 20px;
	}
	#txt2{
		font-size:10px;
	}
	#movingImg{
		width:145px;
		height:115px;
		margin:20px 0 0 50px;
	}

	.selectBox{
		height:38px;
		font-size:14px;
		font-weight:bold;
		color:#353535;
		border:0px;
		border-radius:5px;
		background-color:#eee;
		font-family:'Noto Sans KR', sans-serif;
		background: url(../img/img_route/selectBox.png) no-repeat 92% 55%;
		-webkit-appearance: none; /* �꽕�씠�떚釉� �쇅�삎 媛먯텛湲� */
    	-moz-appearance: none;
    	appearance: none;
    	margin-right:5px;
    	padding-left:15px;
    	margin-bottom:20px;
    	border:2px solid #CACACA;
	}
	
	.saveTxt{
		color:#247B8A;
		font-weight:bold;
		font-size:13px;
		padding-left:23px;
	}
	.saveTxt2{
		font-size:15px;
	}
	
	.gray_Btn{
		border-radius:10px;
		background-color : #353535;
		text-decoration: none;
		text-align : center;
		font-size : 16px;
		font-weight:bold;
		padding : 6px 12px;
		margin : 10px 0 0 6px;
		color: white;
		border:0;
	}
	.gray_Btn:hover{
		color : white;
		background-color: #616060;
	} 



<!-- ==================js�뙆�씪 �뒪���씪================= -->

	#info_a{
		
	}
	#infoWin{
		padding:5px;
		font-size:12px;
		text-align:center;
		float:center;
		width:148px;
		height:auto;
		border:6px solid #eee;
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
	}
	#info_a:link {
		font-size:14px;
		font-weight:bold;
		text-decoration: none;
		border: rgba(75,112,253,0.3) solid;
		border-width: 0 0 6px 0;
	}
	#start_Btn, #via_Btn, #arrive_Btn{
		width:105px;
		height:30px;
		font-size:16px;
		letter-spacing:1px;
	}
	#start_Btn{
		text-decoration: none;
		text-align : center;
		font-weight:bold;
		border-radius:5px;
		background-color : white;
		border : 2px solid #0E6C15;
		color: #0E6C15;
	}
	#via_Btn{
		text-decoration: none;
		text-align : center;
		font-weight:bold;
		border-radius:5px;
		background-color : white;
		border : 2px solid #D68A00;
		color: #D68A00;	
	}
	#arrive_Btn{
		text-decoration: none;
		text-align : center;
		font-weight:bold;
		border-radius:5px;
		background-color : white;
		border : 2px solid #C41F04;
		color: #C41F04;	
	}
	#start_Btn:hover{
		color : white;
		font-weight:bold;
		border-radius:5px;
		background-color: #0E6C15;
	}	
	#via_Btn:hover{
		color : white;
		font-weight:bold;
		border-radius:5px;
		background-color: #D68A00;
	}
	#arrive_Btn:hover{
		color : white;
		font-weight:bold;
		border-radius:5px;
		background-color: #C41F04;
	}	

	#saveDiv2{
		position:relative;
		z-index:33;
		top:155px;
	}
	.blue_Btn{
		font-weight:bold;
		border-radius: 10px;
		text-decoration: none;
		text-align : center;
		padding:3px 6px;
		color : white;
		background-color: #040434;		
		border: 0;
	}
	.blue_Btn:hover{
		color : white;
		background-color: #36366d;
	}
	#saveBtn{
		width:222px;
		height:53px;
		margin:0 18px 0 9px;
		font-size:17px;
		font-family:'Noto Sans KR', sans-serif;
	}

	#saveDiv3{
		position:absolute;
	 	z-index:32!important;
	}
	#description{
		width:295px;
		height:127px;
		margin-left:8px;
		padding:5px;
		border-radius:3px;
		border:2px inset #00B0B0;
	}
	textarea#description::placeholder {
		color:#00B0B0;
		font-size:13.5px;
		font-weight:400;
	}
	
	#saveDiv1{
		position:relative;
		z-index:30!important;
		left:172px;
		top:34px;
	}
	#saveDiv1 img{
		width:155px;
		height:125px;
		margin-top:40px;
		position:absolute;
		left:33px;
	}	
	
	#category > li {
		padding:0px 20px 0 15px;
	}
	#category > li > button{
		width:26%;
		height:34px;
		font-size:13px;
		margin:5px 5px 0px 15px;
	}
	
	.categoryDiv1{
		width:150px;
		padding-left:30px;	
	}
	.categoryDiv2{
		width:150px;
		padding-left:23px;	
	}
	
	#elevation_chart{
		width:270px;
		height:115px;
		margin:20px 10px 0 34px;
		position:relative;
		z-index:30;
	}
	#chart_Back{
		width:278px;
		height:125px;
		background-color:#eee;
		position:relative;
		bottom:120px;
		left:30px;
		z-index:20;
	}
	
	.food_Btn2, .sights_Btn2{
		right:20px;	
	}
	 .accomodation_Btn2, .convenient_Btn2{
		right:12px;	 
	 }
	.food_Btn2, .sights_Btn2, .accomodation_Btn2, .convenient_Btn2{
		width:105px;
		height:30px;
		font-size:16px;
	
		float : left;
		border-radius: 5px;
		text-decoration: none;
		text-align : center;
		font-weight:bold;
		position:relative;
		background-color: white;
	}
	.food_Btn2{
		background-color : #EB3807;
		border: 0;
		color:white;
	}
	.food_Btn2:hover, .sights_Btn2:hover, .accomodation_Btn2:hover, .convenient_Btn2:hover{
		font-weight:bold;
		background-color: white;
	}
	.food_Btn2:hover{
		background-color: #f76f4a;
	}
	.sights_Btn2{
		background-color : #002060;
		border: 0;
		color:white;
	}
	.sights_Btn2:hover{
		background-color: #304e8a;
	}
	.accomodation_Btn2{
		background-color : #5A147A;
		border: 0;
		color:white;
	}
	.accomodation_Btn2:hover{
		background-color: #784490;
	}
	.convenient_Btn2{
		background-color : #2E75B6;
		border: 0;
		color:white;
	}
	.convenient_Btn2:hover{
		background-color:#6198ca;
	}
	
	.listDel_Btn{
		border:0;
		background-color:white;
	}
	#listDel_img{
		width:17px;
		height:17px;
	}