@charset "UTF-8";
body{
		margin:0; padding:0;      
		overflow-x:hidden;
    	overflow-y:auto;
	}
	ul,li{
		margin:0px;
		padding:0px;
		list-style-type:none;
	} 
	ul{
		list-style-type:none;
	}
		
	.container{
		margin:0;
		padding:0;
	}
	#mainDiv{
		width:800px;
		margin:0 auto;
	}
	
	#mainDivHome{
		width:1200px;
		height:2100px;
		margin:0 auto;
	}
	
	
	@font-face{				
		font-family:"AMALFI COAST";
		src:url("/font/AMALFI COAST.TTF");
	}
			 				

 	#mainBxSliderFrontground{
 		background-color:black;
 		margin-top:-20px;
 		width:100%;
 		height:600px;
 		opacity:40%;
 		position:absolute;
 		z-index:100;
 	}
	#mainLabel{
		position:absolute;
		margin:170px;
 		z-index:120;
 		width:100%
 			
	}
	#mainLabel label:first-child{
		position:absolute;
		z-index:120;
		color:white;
		font-size:45px;
		font-weight:lighter;
		font-family:"AMALFI COAST";
		margin-left:600px;			
	}
	#mainLabel label:nth-child(2n){
		position:absolute;
		z-index:120;
		color:white;
		margin:100px 0 0 690px;
		font-family:'batang';
		letter-spacing:1px;
		font-weight:lighter;			
	}
	#mainLabel button{
		position:absolute;
		z-index:120;
		color:white;
		margin:130px 0 0 755px;
		font-weight:bold;
		padding-top:4px;
		text-align:center;
		border:1px solid #fff;
		border-radius:10px;
		width:150px;
		height:28px;
		background-color:transparent;
		font-size:15px;
		font-weight:bold;					
	}
	 button:focus {
   		outline: none;
	}
	/*================================================footer==================================================================*/
	#footer{margin:0;padding:0;}
	#topDiv{height:64px; background-color:rgb(52,52,52);}
	#bottomDiv{height:162px;background-color:rgb(34,34,34);}
	
	
	#topDiv li{float:left; width:10%; font-size:13px;line-height:60px;}
	#topDiv>ul{margin-left:100px;}
	
	#bottomDiv div:first-child{position:absolute; padding:40px 0 0 75px;width:60%; height:70px;}
	#bottomDiv div:first-child>img{
									width:220px; 
									height:70px;}
	
	#bottomDiv>#bottomLogoDiv{width:52%;height:80px;text-align:center;}
	#bottomDiv #bottomLogoDiv>label{color:#9d9d9d;font-size:12px;line-height:120px;}
	
	#bottomDiv div:last-child{width:47.5%;height:80px;text-align:center;}
	#bottomDiv div:last-child>label{color:#9d9d9d;;font-size:12px;}
	
	#topDiv a:link,#topDiv a:visited{text-decoration:none; color:#9d9d9d;;}
	

	/*=====================================main=====================================================*/
	#mainBxSliderDiv{
		margin:-25px -5px 0 -5px;
		height:600px;
		overflow:hidden;
	}

	#bxslider img{
		margin-top:-50px;
	}
	
	#hitRoute{
		width:1200px;
		height:950px;
		text-align:center;
		padding-top:90px;
	}
	#content1{
		height:800px;
		margin-top:130px;
	}
	
	.hitIcon{
		width:100px;
		height:43px;
		margin-left:42.5px;
		padding-top:4px;
		position:absolute;
		border-top-right-radius:10px;
	}
	.thumbnail{
		width:285px;
		height:285px;
		margin-left:10px;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
	}
	.routeTitle{
		float:left;
		font-size:23px;
		font-weight:bold;
		word-spacing:-3px;
		margin-bottom:6px;
		padding-left:5px;
		position:relative;
		top:100px;
		left:10px;
	}
	.routeTitle sub{
		bottom:1px;
		color:#005766;
	}
	.route{
		height:390px;
		float:left;
		margin-right:5px;
	}
	.star{
		width:175px;
		height:35px;
		position:relative;
		bottom:35px;
	}
	
	#routeSearch{
		width:1150px;
		height:60px;
		margin:40px 0 0 26px;
		padding-top:10px;
		text-align:center;
		background-color:#008888;
		box-shadow: 3px 3px 3px rgb(150,150,150);
	}
	#routeSearch a{
		font-size:18px;
		color:white;
		padding-bottom:5px;
		text-decoration: none;
		font-weight:bold;
		position:relative;
		top:6px;
	}
	
	#national{
		width:1200px;
		height:630px;
		text-align:center;
	}
	#location{
		width:1200px;
		height:auto;
		margin-top:130px;
		text-align:center;
	}
	#location img{
		border-radius: 10px / 10px;
		margin: 5px 15px 15px 0px;
		width:280px;
		height:340px;
	}
	.topIcon img{
		width:90px;
		height:110px;
		position:relative;
		left:1300px;
		bottom:-110px;
	}
	/*=========================소라 수정20/11/13===========================================*/	
	
	div.bx-wrapper{
		margin-top:-3.1px;
		
	}
	#bxsliderTour img{
		margin-top:-2px;
	}
	
	
	.bx-wrapper {
	 	-moz-box-shadow: none !important;
 	 	-webkit-box-shadow: none !important;
 	 	box-shadow: none !important;
 	 	padding:0;

	}
	#mainDivHeaderSub{
		margin:-28px -5px 0 -5px;
	}