@charset "UTF-8";
	body{
	/*	background: url(../img/img_route/bike_pattern.png);
		no-repeat:repeat;	*/
		
		font-family: 'Nanum Gothic', sans-serif;
	}
	.mainDivTourView{
				width:1200px; 
				margin:0 auto;
				padding-top:130px;		
	}
	#tourViewFormTitleDiv{
							width:55%;
							float:left;
							height:115px;
							margin-top:50px;	
	}
	.timeConditionDiv{
					 	border-radius:15px;
					 	background-color:#fff;
					 	width:415px;
					 	height:305px;
					 	float:left;
						margin-left:40px;
						box-shadow: 2px 2px 4px 2px rgb(171 171 171);	
						
	
	}
	.tourViewEdit,.tourViewDelete{
					float:left;
					width:50%;
					border:none;
					background-color:transparent;
					font-weight:bold;
					color:rgb(156,156,156);
				
					
	
	}
	.tourViewEditAndDeleteDiv a:hover,.tourViewEditAndDeleteDiv a:link,.tourViewEditAndDeleteDiv a:visited{
							text-decoration:none;
							color:rgb(156,156,156);
	}
	

	.tourViewEditAndDeleteDiv{
								width:45%;
								padding-top:40px;
								height:115px;
								float:left;
								padding-left:450px;
								margin-top:50px;
	}
	.tourViewEditAndDeleteDiv a, .tourViewDelete{
								font-size:17px;
	}
	.timeConditionDiv2{
					 	border-radius:15px;
					 	background-color:#fff;
					 	width:415px;
					 	height:170px;
					 	float:left;
					 	margin-bottom:40px;
						box-shadow: 2px 2px 4px 2px rgb(171 171 171);		
	
	}
	.timeConditionDiv3{
						border-radius:15px;
					 	width:415px;
					 	height:250px;
					 	float:left;
					 	margin-bottom:30px;
						box-shadow: 2px 2px 4px 2px rgb(171 171 171);	
	
	
	}
	.timeConditionDiv4{
						border-radius:15px;
					 	background-color:#fff;
					 	height:250px;
						box-shadow: 2px 2px 4px 2px rgb(171 171 171);	
						
	
	
	}
	.tourWriteConditionTitle{
								padding-top:5px;
								text-align:center;
								border-radius:8px;
								width:110px;
								height:35px;
								font-size:20px;
								color:#fff;
								float:left;	
								margin:-15px 0 0 40px;
								background: linear-gradient(#0b8a8a, #00b0b0);
								
	}


	
	#tourViewFormTitleLbl{
							font-size:22px; 
	 						color:rgb(64,64,64);
	 					
	}
	#RouteSearchDiv{
						height:60px;
						
	}
	input:focus{outline:none;}
	
	#RouteSearchDiv input{
							float:left;	
	}
	#RouteSearchDiv input[type=text]{
										width:500px;
										padding:4px 0 0 10px;
										border:1px solid rgb(221,221,221);
										border-radius:8px;
										height:35px;
										background-color:rgb(221,221,221);
										font-size:15px;
										font-weight:bold;
										color:rgb(64,64,64);
										box-shadow: 3px 3px 5px 3px rgb(230,230,230);		
																	
	}

	#routeResultDiv{
						width:745px;
						height:915px;
						float:left;	
	
	}
	#conditionDiv{
					width:415px;
					height:285px;
					float:left;
					margin-bottom:45px;			
	}
	
	.txtShadow2{
		padding-top:7px;	
		width:110px;
		height:40px;
	    font-weight: bold;
	    float: left;
	    border:none;
	    font-size: 20px;
	    color: #005766;
		margin:30px 0 0 30px;
	    background-color:white;
	    text-shadow: 2px 2px 6px #8EC7D0;
	}
	
	
	.blue_arrow{
		-webkit-animation:blink 0.5s ease-in-out infinite alternate;
	    animation:blink 0.5s ease-in-out infinite alternate;
	}
	@-webkit-keyframes blink{
	    0% {opacity:0;}
	    100% {opacity:1;}
	}
	@keyframes blink{
	    0% {color:blue;}
	    100% {color:#6fafff;}
	}	
	
	
	
	
	.labelClass,#departure,#arrive,.labelClass2,#deadline,#place,.labelUseridClass{	
																				margin-right: 12px;
																				padding-top:7px;
																				text-align:right;
																				border:none;
																				border-radius:10px;
																				width:70px;
																				height:35px;
																			
																				font-size:17px;
																				font-weight:bold;
																				color:black;
																				float:left;
							
			}
			
			
	.conditionDivTop{
					 	width:384px;
						height:50px;
						margin:18px 0 0 20px;
						float:left;
				}
				
	.conditionDivTop2{
						width:384px;
						height:30px;
						margin:25px 0 0 20px;
						float:left;
	
	
	}		
	.conditionDivTop3{
						width:425px;
						height:55px;
						margin:40px 0 0 20px;
						float:left;
						
	
	}	

				
	#departure,#arrive,#deadline{	
							padding-top:7px;	
							width:140px;
							background-color:#efefef;
							color:rgb(90,90,90);
							text-align: center;
	}
	#place{	
							padding-top:7px;	
							width:240px;
							background-color:#fff;
							color:rgb(90,90,90);
							text-align: center;
							background-color:#efefef;
	}
	
	#label1{
			margin-left:9px;
			color:rgb(90,90,90);
			font-weight:bold;
			font-size:15px;
	}
	#arrive{
				margin-left:82px;
				
				}

		
	#room,.useridBox{
					padding-top:7px;
					text-align:center;
					border:none;
					border-radius:8px;
					width:55px;
					height:35px;
					background-color:#fff;
					font-size:15px;
					font-weight:bold;
					color:rgb(90,90,90);
					float:left;
				
	}	
	.useridBox{
					width:100px;
					
	}
	.useridBox,.labelUseridClass{
							
	
	}
	#whole,#whole2,#regageten,#regagetwenty,#regagethirty,#regageforty,#regagefiftyOver,#genderboy,#gendergirl{
																													padding-top:7px;
																													text-align:center;
																												
																													border-radius:10px;
																													width:70px;
																													height:35px;
																													background-color:#fff;
																													font-size:15px;
																													font-weight:bold;
																													color:rgb(90,90,90);
																													float:left;
	
	}
	
	.kmLbl1{
				position:relative;
				color:rgb(90,90,90);
				font-size:15px;
				font-weight:bold;
				top:7px;
				left:-32px;
				
	
	}
	.wonLbl{
				
				position:relative;
				color:rgb(90,90,90);
				font-size:15px;
				font-weight:bold;
				top:-18px;
				left:-23px;
	
	
	}
	.kmLbl2{
				position:relative;
				color:rgb(90,90,90);
				font-size:15px;
				font-weight:bold;
				left:-30px;
				top:6px;
			
	
	}

	.tourTimeLbl{
			
				position:relative;
				color:rgb(90,90,90);
				font-size:15px;
				font-weight:bold;
				top:-18px;
				left:-36px;
	
	
	}	

		
	#genderboy,#gendergirl{	
							width:35px;
							margin-left:10px;
	}	
		

	.conditionDivBottom{
						margin-left:115px;
					
						
	}	
	#tourWriteTitleEdit{
						width:500px;
						height:35px;
						margin-bottom:20px;
						border-radius:10px;
						box-shadow: 3px 3px 5px 3px rgb(230,230,230);
						border:none;
	}
	#writeForm{
					
					margin:0 auto;	
					height:300px;
					width:1000px;
				
			
	}	
	

	
	#writeForm div{
						
						float:left;
					
	}

	.tourViewWriteFormClass{
							width:1000px;
							margin-top:40px;
							
	}
	.tourViewWriteFormClass div:nth-child(2n){
												margin-left:20px;
	
	}

	.tourViewLabelClass{
						background-color:rgb(64,64,64);
					    color:#fff;
					    font-weight:bold;
					    border-radius: 10px;
					    border: none;
					    width:70px;
					    height:35px;
					    padding-top:6px;
					    text-align: center;
					    box-shadow: 3px 3px 5px 3px rgb(230,230,230);
						font-size:15px;
	}
	
	#tourWriteTitle{
						width:500px;
						height:35px;
						margin-bottom:20px;
						font-size:35px;
					
	}
	#content{
			  font-size:15px;
			  background-color:#fff;
			  padding-left:15px;
			  border:none;
			  line-height:35px;
			  border-radius: 6px;
			  box-shadow: 2px 2px 4px 2px rgb(171 171 171);
			  font-size:15px;
			  width:840px;
			  height: 67px;
			  margin-bottom:20px;
	}

	#writebuttonDiv{
					width:250px;
					height:100px;
					margin:0 auto;
					padding:20px 0 20px 0;
				
					
	}
	#writebuttonDiv input{
							position:relative;
							padding-top:-2px;
							text-align:center;
							border:none;
							border-radius:10px;
							width:70px;
							height:40px;
							background-color:black;
							font-size:15px;
							font-weight:bold;
							color:#fff;
							float:left;
							margin-left:30px;
							box-shadow: 3px 3px 5px 3px rgb(230,230,230);	
							
	
	}	
	#writebuttonDiv input:last-child{	
										
										background-color:#fff;
										color:rgb(69,69,79);	
															
	}	


	#tourWriteFormTitleDiv{
							height:80px;
							margin-top:50px;	
							float:left;
	}

	#tourWriteFormTitleLbl{
							font-size:22px; 
	 						color:rgb(64,64,64);
	 					
	}
	#departureTime,#departureMinutes,#deadlineTime,#arriveTime,#arriveMinutes{
														padding-top:7px;
														text-align:center;
														border:none;
														border-radius:10px;
														width:75px;
														height:35px;
														background-color:#fff;
														font-size:15px;
														font-weight:bold;
														color:rgb(90,90,90);
														float:left;
														margin:0 10px 0 10px;
														height:26px; 
														text-align-last:center;
														
	}	
	#departureTime,#departureMinutes,#deadlineTime,#arriveTime,#arriveMinutes{
										width:70px;
										height:35px;
										margin:0 0px 0 20px;
										background-color:#efefef;	
	
	}	
		

	#roomCheckDiv{
					float:left;
					height:40px;
					width:1200px;
					
	}	
	
	.roomLineCheck{
					width:500px;
					background-color:yellow;
					float:left;
				
					
	}
	
	#roomCheckDiv div:first-child{
									float:left;
									margin-left:490px;
									height:28px;
									width:7px;
									background-color:rgb(0,176,176);
									
	}	
	
	#roomCheckDiv div:last-child label{
										font-size:20px;
										font-weight:bold;
										color:rgb(64,64,64);
										margin-left:10px;
										float:left;
	}		

	#tourStateDiv{
					height:70px;
					width:700px;
					float:right;
					margin-top:20px;
					
					
			
	}
	#applyTour{
					
					text-align:center;
					border:none;
					border-radius:10px;
					width:90px;
					height:35px;
					background-color:rgb(0,176,176);
					font-size:16px;
					font-weight:bold;
					color:#fff;
					float:left;
					box-shadow: 3px 3px 5px 3px rgb(230,230,230);
	}
	
	#cancelTour{
					
					text-align:center;
					border:none;
					border-radius:10px;
					width:90px;
					height:35px;
					background-color:#fff;
					font-size:16px;
					font-weight:bold;
					color:rgb(90,90,90);
					float:left;
					margin-left:15px;
					box-shadow: 3px 3px 5px 3px rgb(230,230,230);
					
	}
	input[type=checkbox]{
						display:none;
	}	
	.roomCheckDivLbl{
						background-color:rgb(64,64,64);
					    color:#fff;
					    font-weight:bold;
					    border-radius: 10px;
					    border: none;
					    width:195px;
					    height:35px;
					    padding-top:7px;
					    text-align: center;
					    box-shadow: 3px 3px 5px 3px rgb(230,230,230);
						font-size:15px;
	
	}
	
	.routeResultDiv{
	 	border-radius:15px;
	 	background-color:#fff;
	 	width:600px;
	 	height:900px;
		box-shadow: 2px 2px 4px 2px rgb(171 171 171);	
	}
	.routeResultDiv2{
	 	width:745px;
	 	height:915px;
	 	margin-top : 40px;
	}
	
	#routeMap{
		width : 670px; 
		height : 475px;
		margin : 0 auto;
	}
	
	#elevation_chart{
		width : 667px; height: 215px;
		margin : 0 auto;
	}

	#routeTitle {
		height: 50px;
		width : 668px;
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;	
		font-family:none;	
	}
	#routeTitle a{
		text-decoration:none;
	}
	.tourLink a{
		color: #003a3a;
    	font-weight: bold;
    	font-size: 28px;
	}
	.tourLink a:hover{
		color:#4f9c9c;
	}
	.routeTitleDiv{
		width : 550px;
		height : 50px;
	}
	
	.modal{
		width : 1000px;
		height : 800px;
		top : 300px;
		left : 400px;
	}
	
	#listTitle>li{
		float : left;
		text-align : center;
		width : 14%;
		height : 30px;
		line-height : 35px;
		font-size:14px;
		font-weight:bold;
		color:rgb(90,90,90);
		vertical-align: middle;
	}
	 #complist>li{
	 	float : left;
		text-align : center;
		width : 14%;
		height : 30px;
		line-height : 35px;
		font-size:14px;
		color:rgb(90,90,90);
		vertical-align: middle;
	 
	 
	 }
	#listTitle>li:first, #complist>li:first{
		width : 16%;
	}
	
	#listTitle>li{
		border-bottom : 1px solid lightgray;
		color:rgb(64,64,64);
		font-weight:bold;
		margin-top:-8px;
	}
	
	.modal-body{
		overflow : auto;
		padding:8px;
	}
	
	.applying{
						background-color:rgb(0,176,176);
					    color:#fff;
					    font-weight:bold;
					    border-radius: 10px;
					    border: none;
					    width: 80%;
					    margin :8px 0 5px 10px;
					    height: 25px;
					    text-align: center;
					    font-size : 12px;
					    box-shadow: 3px 3px 5px 3px rgb(230,230,230);
					    line-height : 25px;
				
	}
	.modal-header label{
						color:rgb(64,64,64);
						font-size:16px;

	}
	.applyTourCloseBtn{
					    background-color:rgb(64,64,64);
					    color:#fff;
					    font-weight:bold;
					    border-radius: 6px;
					    border: none;
					    width: 4%;
					    margin-top : 2.5px;
					    height: 25px;
					    text-align: center;
					    font-size : 12px;
					    box-shadow: 3px 3px 5px 3px rgb(230,230,230);
					    line-height : 25px;
					    float:right;
	}
	.applyOk{
				  		background-color:#FF6347;
					    color:#fff;
					    font-weight:bold;
					    border-radius: 10px;
					    border: none;
					    width: 80%;
					    margin-top : 2.5px;
					    height: 25px;
					    text-align: center;
					    font-size : 12px;
					    box-shadow: 3px 3px 5px 3px rgb(230,230,230);
					    line-height : 25px;
					    
			
	}
	.applyWait{

					    color:rgb(64,64,64);
					    font-weight:bold;
					    border-radius: 10px;
					    border: none;
					    width: 80%;
					    margin :8px 0 5px 10px;
					    height: 25px;
					    text-align: center;
					    font-size : 12px;
					    box-shadow: 3px 3px 5px 3px rgb(230,230,230);
					    line-height : 25px;
			    
	
	}

