@charset "UTF-8";
	body{
	/*	background: url(../img/img_route/bike_pattern.png);
		no-repeat:repeat;	*/
		
		font-family: 'Nanum Gothic', sans-serif;
	}
	p{
		width: 780px;
	    line-height: 27px;
	    margin: 5px 0 0px 0;
	}
	.mainDivTourView{
				width:1200px; 
				margin:0 auto;
				padding-top:105px;		
	}
	#tourViewFormTitleDiv{
							width:88%;
							float:left;
							height:140px;
							margin-top:50px;	
	}
	.timeConditionDiv{
					 	border-radius:15px;
					 	background-color:#fff;
					 	width:415px;
					 	height:320px;
					 	float:left;
						margin:65px 0 0 40px;
						box-shadow: 2px 2px 4px 2px rgb(171 171 171);	
						
	
	}

	.tourViewEdit,.tourViewDelete{
					width:6%;
					position:relative;
					left:1061px;
					float:left;
					border:none;
					background-color:transparent;
					font-weight:bold;
					color:rgb(49 48 113);
				
					
	
	}
	.tourViewEditAndDeleteDiv a:hover,.tourViewEditAndDeleteDiv a:link,.tourViewEditAndDeleteDiv a:visited{
							text-decoration:none;
	}
	

	.tourViewEditAndDeleteDiv{
								position:relative;
								text-align:right;
	}
	.tourViewEditAndDeleteDiv a, .tourViewDelete{
								font-size:19px;
	}
	.timeConditionDiv2{
					 	border-radius:15px;
					 	background-color:#fff;
					 	width:415px;
					 	height:175px;
					 	float:left;
					 	margin-bottom:44px;
						box-shadow: 2px 2px 4px 2px rgb(171 171 171);		
	
	}
	.timeConditionDiv3{
						border-radius:15px;
					 	width:415px;
					 	height:267px;
					 	float:left;
					 	margin-bottom:30px;
						box-shadow: 2px 2px 4px 2px rgb(171 171 171);	
	
	
	}
	.timeConditionDiv4{
						border-radius:15px;
					 	background-color:#fff;
					 	height:250px;
						box-shadow: 2px 2px 4px 2px rgb(171 171 171);	
						
	
	
	}
	.tourWriteConditionTitle{
								padding-top:5px;
								text-align:center;
								border-radius:8px;
								width:115px;
								height:37px;
								font-size:18px;
								color:#fff;
								float:left;	
								margin:-15px 0 0 40px;
								letter-spacing: 3px;
								/* box-shadow: 2px 2px 5px #232323; */
								text-shadow: 1px 1px 2px #003042;
								background: #348e8e;
								/* background: linear-gradient(#8cd6d6, #00b0b0); */
								
	}


	
	#tourViewFormTitleLbl{
							font-size:22px; 
	 						color:rgb(64,64,64);
	 					
	}
	#RouteSearchDiv{
						height:60px;
						
	}
	input:focus{outline:none;}
	
	#RouteSearchDiv input{
							float:left;	
	}
	#RouteSearchDiv input[type=text]{
										width:500px;
										padding:4px 0 0 10px;
										border:1px solid rgb(221,221,221);
										border-radius:8px;
										height:35px;
										background-color:rgb(221,221,221);
										font-size:15px;
										font-weight:bold;
										color:rgb(64,64,64);
										box-shadow: 3px 3px 5px 3px rgb(230,230,230);		
																	
	}

	#routeResultDiv{
						width:745px;
						height:915px;
						float:left;	
	
	}
	#conditionDiv{
					width:415px;
					height:285px;
					float:left;
					margin-bottom:57px;			
	}
	
	.txtShadow2{
		padding-top:7px;	
		width:110px;
		height:40px;
	    font-weight: bold;
	    float: left;
	    border:none;
	    color: #66005e;
	    margin: 38px 0 11px 24px;
	    background-color: white;
	    text-shadow: 2px 2px 6px #dca0c5;
	}
	
	
	.blue_arrow{
		font-size:20px;
		-webkit-animation:blink 0.5s ease-in-out infinite alternate;
	    animation:blink 0.5s ease-in-out infinite alternate;
	}
	@-webkit-keyframes blink{
	    0% {opacity:0;}
	    100% {opacity:1;}
	}
	@keyframes blink{
	    0% {color:blue;}
	    100% {color:#6fafff;}
	}	

	#departure,#arrive,#deadline{	
				margin-right: 10px;
			}
	.labelClass,.labelClass2,#place,.labelUseridClass{
				margin-right: 23px;
	}
	
	.labelClass, .labelClass > label, .labelClass2{	
			font-size:18px;
			letter-spacing:2px;
			padding-top:7px;
			text-align:right;
			border:none;
			border-radius:10px;
			width:77px;
			height:35px;
			font-weight:bold;
			color:black;
			float:left;
	}
	
	#departure,#arrive,#deadline,#place,.labelUseridClass{	
																	padding-top:7px;
																	text-align:right;
																	border:none;
																	border-radius:10px;
																	width:70px;
																	height:35px;
																			
																	font-size:17px;
																	font-weight:bold;
																	color:black;
																	float:left;
		}
	
	
	/*	여행 탭	*/
	/* 거리 값 */
	
	.conditionBox{
		position:relative;
		top:10px;
		font-size:16px;
	}
	
		
	.conditionDivTop{
					 	width:384px;
						height:50px;
						margin:14px 0 0 20px;
						float:left;
				}
				
	.conditionDivTop2{
						width:384px;
						height:30px;
						margin:25px 0 0 20px;
						float:left;
	
	
	}		
	.conditionDivTop3{
						width:425px;
						height:55px;
						margin:40px 0 0 20px;
						float:left;
						
	
	}	
	
	#tourlistBtn{
		width: 110px;
	    height: 45px;
	    position: relative;
	    border-radius: 8px;
	    left: 105px;
	    background-color: white;
	    border: 1px solid #7b7b7b;
	    color: #7b7b7b;
	    font-size: 17px;
	    box-shadow: 1px 1px 2px 1px rgb(204 204 204);
	}

				
	#departure,#arrive,#deadline{	
							padding-top:9px;	
							width:160px;
							height:42px;
							background-color:#efefef;
							color:rgb(90,90,90);
							text-align: center;
							letter-spacing: 1px;
	}
	#place{	
							padding-top:9px;	
							width:255px;
							height:42px;
							background-color:#fff;
							color:rgb(0 36 169);
							text-align: center;
							background-color:#efefef;
							letter-spacing: 2px;
	}
	
	#label1{
			margin-left:9px;
			color:rgb(90,90,90);
			font-weight:bold;
			font-size:15px;
	}
	#arrive{
				margin-left:100px;
				
				}

		
	#room,.useridBox{
					padding-top:7px;
					text-align:center;
					border:none;
					border-radius:8px;
					width:38px;
					height:35px;
					background-color:#efefef;
					font-size:15px;
					font-weight:bold;
					color:rgb(90,90,90);
					float:left;
				
	}	
	.useridBox{
					width:100px;
					
	}
	.useridBox,.labelUseridClass{
							
	
	}
	
	
	#whole2{
		position: relative;
	    right: 15px;
	    width: 90px;
	    padding-top: 7px;
	    text-align: center;
	    border-radius: 10px;
	    height: 35px;
	    background-color: #efefef;
	    font-size: 15px;
	    font-weight: bold;
	    color: rgb(90,90,90);
	    float: left;
	}
	
	#whole,#regageten,#regagetwenty,#regagethirty,#regageforty,#regagefiftyOver,#genderboy,#gendergirl{
																													padding-top:7px;
																													text-align:center;
																												
																													border-radius:10px;
																													width:70px;
																													height:35px;
																													background-color:#efefef;
																													font-size:15px;
																													font-weight:bold;
																													color:rgb(90,90,90);
																													float:left;
	
	}
	
	.kmLbl1{
				position:relative;
				color:#ce0000;
				font-size:15px;
				font-weight:bold;
				top:-16px;
				left:40px;
				
	
	}
	.wonLbl{
			    position: relative;
			    color: rgb(90,90,90);
			    font-size: 15px;
			    font-weight: bold;
			    top: -62px;
			    left: 342px;
	}
	.kmLbl2{
				position:relative;
				color:rgb(90,90,90);
				font-size:15px;
				font-weight:bold;
				left: 40px;
				bottom:10px;
	}

	.tourTimeLbl{
			
				position:relative;
				color:rgb(90,90,90);
				font-size:15px;
				font-weight:bold;
				top:-18px;
				left:-36px;
	
	
	}	

		
	#genderboy,#gendergirl{	
							width:37px;
							margin-left:8px;
	}	
		

	.conditionDivBottom{
						margin-left:115px;
					
						
	}	
	#tourWriteTitleEdit{
						width:500px;
						height:35px;
						margin-bottom:32px;
						border-radius:10px;
						box-shadow: 3px 3px 5px 3px rgb(230,230,230);
						border:none;
	}
	#writeForm{
		margin:0 auto;	
		height:300px;
		width:1000px;
	}	
	

	
	#writeForm>div{
		float:left;
		
	}
	
	.temp{
		width : 100%;
		margin-top : 53px;
		text-align:center;
	}

	.tourViewWriteFormClass{
		width:1000px;
		margin-top:53px;					
	}
	.tourViewWriteFormClass>div{
		float: left;
	}	
	
	.tourViewWriteFormClass div:nth-child(2n){
												margin-left:20px;
	
	}

	.tourViewLabelClass{
						background-color:rgb(64,64,64);
					    color:#fff;
					    font-weight:bold;
					    border-radius: 10px;
					    border: none;
					    width:70px;
					    height:35px;
					    padding-top:6px;
					    text-align: center;
					    box-shadow: 3px 3px 5px 3px rgb(230,230,230);
						font-size:15px;
	}
	
	#tourWriteTitle{
						width:80%;
						height:80%;
						margin-bottom:20px;
						font-size:35px;
						padding-left:38px;
					
	}
	#content{
			  font-size:15px;
			  background-color:#fff;
			  padding-left:15px;
			  border:none;
			  line-height:35px;
			  border-radius: 6px;
			  box-shadow: 2px 2px 4px 2px rgb(171 171 171);
			  font-size:15px;
			  width:840px;
			  height: auto;
			  margin-bottom:20px;
	}
	
	.tourContentTxt{
		position:relative;
		right: -29px;
   		bottom: 34px;
    	font-weight: bold;
    	font-size: 17px;
	}

	
	#writebuttonDiv{
					width:250px;
					height:100px;
					margin:0 auto;
					padding:20px 0 20px 0;
				
					
	}
	#writebuttonDiv input{
							position:relative;
							padding-top:-2px;
							text-align:center;
							border:none;
							border-radius:10px;
							width:70px;
							height:40px;
							background-color:black;
							font-size:15px;
							font-weight:bold;
							color:#fff;
							float:left;
							margin-left:30px;
							box-shadow: 3px 3px 5px 3px rgb(230,230,230);	
							
	
	}	
	#writebuttonDiv input:last-child{	
										
										background-color:#fff;
										color:rgb(69,69,79);	
															
	}	


	#tourWriteFormTitleDiv{
							height:80px;
							margin-top:50px;	
							float:left;
	}

	#tourWriteFormTitleLbl{
							font-size:22px; 
	 						color:rgb(64,64,64);
	 					
	}
	#departureTime,#departureMinutes,#deadlineTime,#arriveTime,#arriveMinutes{
														padding-top:7px;
														text-align:center;
														border:none;
														border-radius:10px;
														width:75px;
														height:35px;
														background-color:#fff;
														font-size:15px;
														font-weight:bold;
														color:rgb(90,90,90);
														float:left;
														margin:0 10px 0 10px;
														height:26px; 
														text-align-last:center;
														
	}	
	#departureTime,#departureMinutes,#deadlineTime,#arriveTime,#arriveMinutes{
										width:70px;
										height:42px;
										padding-top:9px;
										font-size:17.5px;
										background-color:#efefef;
										letter-spacing: 1px;
	
	}	
		

	#roomCheckDiv{
					float:left;
					height:40px;
					width:1200px;
					
	}	
	
	.roomLineCheck{
					width:500px;
					background-color:yellow;
					float:left;
				
					
	}
	

	#tourStateDiv{
			height:70px;
			width:100%;
			margin-top:20px;
			text-align:center;
	}
	#applyTour{
					
					text-align:center;
					border:none;
					border-radius:10px;
					width:90px;
					height:35px;
					background-color:rgb(0,176,176);
					font-size:16px;
					font-weight:bold;
					color:#fff;
					box-shadow: 3px 3px 5px 3px rgb(230,230,230);
	}
	
	#cancelTour{
					
					text-align:center;
					border:none;
					border-radius:10px;
					width:90px;
					height:35px;
					background-color:#fff;
					font-size:16px;
					font-weight:bold;
					color:rgb(90,90,90);
					margin-left:15px;
					box-shadow: 3px 3px 5px 3px rgb(230,230,230);
					
	}
	input[type=checkbox]{
						display:none;
	}	
	.roomCheckDivLbl{
			/* background-color: rgb(255 255 255); */
		    background: linear-gradient(rgb(239 237 251), rgb(221 238 255));
		    color: rgb(21 6 117);
		    border-radius: 10px;
		    width: 224px;
		    height: 62px;
		    padding-top: 13px;
		    text-align: center;
		    box-shadow: 3px 3px 5px 3px rgb(230,230,230);
		    font-size: 17px;
		    border: 2px solid rgb(21 6 117);
		    margin : 0 auto;
	}
	
	.routeResultDiv{
	 	border-radius:15px;
	 	background-color:#fff;
	 	width:600px;
	 	height:900px;
		box-shadow: 2px 2px 4px 2px rgb(171 171 171);	
	}
	.routeResultDiv2{
	 	width:745px;
	 	height:915px;
	 	margin-top : 40px;
	}
	
	#routeMap{
		width : 670px; 
		height : 450px;
		margin : 0 auto;
	}
	
	#elevation_chart{
		width : 667px; height: 215px;
		margin : 0 auto;
	}

	#routeTitle {
		height: 50px;
		width : 668px;
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;	
		font-family:none;	
	}
	#routeTitle a{
		text-decoration:none;
	}
	.tourLink a{
		color: #003a3a;
    	font-size: 28px;
	}
	.tourLink a:hover{
		color:#4f9c9c;
	}
	.routeTitleDiv{
		width : 550px;
		height : 50px;
	}
	
	.modal{
		width : 1000px;
		height : 800px;
		top : 300px;
		left : 400px;
	}
	
	#listTitle>li{
		float : left;
		text-align : center;
		width : 14%;
		height : 30px;
		line-height : 35px;
		font-size:14px;
		font-weight:bold;
		color:rgb(90,90,90);
		vertical-align: middle;
	}
	 #complist>li{
	 	float : left;
		text-align : center;
		width : 14%;
		height : 30px;
		line-height : 35px;
		font-size:14px;
		color:rgb(90,90,90);
		vertical-align: middle;
	 
	 
	 }
	#listTitle>li:first, #complist>li:first{
		width : 16%;
	}
	
	#listTitle>li{
		border-bottom : 1px solid lightgray;
		color:rgb(64,64,64);
		font-weight:bold;
		margin-top:-8px;
	}
	
	.modal-body{
		overflow : auto;
		padding:8px;
	}
	
	.applying{
						background-color:rgb(0,176,176);
					    color:#fff;
					    font-weight:bold;
					    border-radius: 10px;
					    border: none;
					    width: 80%;
					    margin :8px 0 5px 10px;
					    height: 25px;
					    text-align: center;
					    font-size : 12px;
					    box-shadow: 3px 3px 5px 3px rgb(230,230,230);
					    line-height : 25px;
				
	}
	.modal-header label{
						color:rgb(64,64,64);
						font-size:16px;

	}
	.applyTourCloseBtn{
					    background-color:rgb(64,64,64);
					    color:#fff;
					    font-weight:bold;
					    border-radius: 6px;
					    border: none;
					    width: 4%;
					    margin-top : 2.5px;
					    height: 25px;
					    text-align: center;
					    font-size : 12px;
					    box-shadow: 3px 3px 5px 3px rgb(230,230,230);
					    line-height : 25px;
					    float:right;
	}
	.applyOk{
				  		background-color:#FF6347;
					    color:#fff;
					    font-weight:bold;
					    border-radius: 10px;
					    border: none;
					    width: 80%;
					    margin-top : 2.5px;
					    height: 25px;
					    text-align: center;
					    font-size : 12px;
					    box-shadow: 3px 3px 5px 3px rgb(230,230,230);
					    line-height : 25px;
					    
			
	}
	.applyWait{

					    color:rgb(64,64,64);
					    font-weight:bold;
					    border-radius: 10px;
					    border: none;
					    width: 80%;
					    margin :8px 0 5px 10px;
					    height: 25px;
					    text-align: center;
					    font-size : 12px;
					    box-shadow: 3px 3px 5px 3px rgb(230,230,230);
					    line-height : 25px;
			    
	
	}

