@charset "UTF-8";

  
	#page-wrapper {
	  padding-left: 250px;
	  box-shadow: 3px 3px 5px 3px rgb(230,230,230);	
	  min-height : calc(100vh - 170px);
	}
	
	.my{
		background-color:white;
		min-height:inherit;
	}
	
	iframe{
		border : none;
		width : 500px;
		height : 500px;
	}
	#sidebar-wrapper {
   						position: sticky;
					    width: 250px;
					    height: 100%;
					    margin-left: -250px;
					  	box-shadow: 3px 3px 5px 3px rgb(230,230,230);
						margin-top:100px;
					    overflow-x: hidden;
					    overflow-y: auto;
	}
	 .sidebar-nav img{
	 					width:180px;
	 					margin-top:30px;
	 
	 }
	#page-content-wrapper {
	
	  width: 100%;
	  padding: 20px;
	}
	/* 사이드바 스타일 */
	
	.sidebar-nav {
	  width: 250px;
	  margin: 0;
	  padding: 0;
	  list-style: none;
	}
	
	.sidebar-nav li {
	
	  text-indent: 2em;
	  line-height: 2.8em;

	  
	}
	
	.sidebar-nav li label {
	  display: block;
	  text-decoration: none;
	  color: #999;
	  margin-right:50px;
	  text-align:center;
	}
	
	.sidebar-nav li label:hover {
	    color: rgb(0,176,176);
	
	}
	
	.sidebar-nav > .sidebar-brand {
	  font-size: 1.3em;
	  line-height: 3em;
	   color: #999;
	  
	}
	
	/*=================================게시판==========================*/
	.container-fluid{
		height : auto;
	
	}
	.myMainDiv{
						width:1200px;
						margin:0 auto;
	
	}
	.titleMyDiv1{
		width : 85%;
		height:80px;
		margin : 50px auto ;
	
	}
	.titleMyDiv1 label:first-child{
								font-size:22px; 
							color:rgb(64,64,64);
	
	}
	.myBoardMainDiv{
			width:100%;
			border-radius:10px;
			border:none;
			box-shadow: 3px 3px 5px 3px rgb(230,230,230);
			overflow-y : auto;		
	}
	
	
	#sendQna:checked~div:nth-of-type(1){
		display:block;
	}
	#readQna:checked~div:nth-of-type(2){
		display:block;
	}

	.tab{
		display:none;
		border:0;
		height : auto;
	}
	.qAndALbl li{
					font-size:15px;
					line-height:30px;
	
	}
	input[name=board], input[name=board]{
		display : none;
	}
	.qAndaTypeDiv,.qAndBtnDiv{
						width:1200px;
						margin-top:40px;
						float:left;
	}
	.qAndaTypeDiv>ul{
						width:100%;
	}
	.qAndaTypeDiv li,.subjectQandADiv li,.qAndAFileDiv li,.qAndBtnDiv li{
									float:left;
						
	}
	.subjectQandADiv{
					float:left;
					margin-top:40px;
					width:100%;
					
	
	}
	.qAndAFileDiv{
					float:left;
					margin-top:20px;
					width:100%;

	}
	.qAndBtnDiv{
			margin:40px 0 40px 260px;
	
	
	}
	.qAndaFiletBox{
					width:525px;
					margin-left:20px;
					border-radius:10px;
					border:none;
					box-shadow: 3px 3px 5px 3px rgb(230,230,230);
					
	
	}
	.subjectQandADiv input,.subjectQandADiv textarea{
							border-radius:10px;
							margin-left:20px;
							box-shadow: 3px 3px 5px 3px rgb(230,230,230);
							border:none;
							line-height:25px;
							font-size:14px;
	
	}
	.qAndaSubjectBoxView,.qAndaSubjectBoxView,.qAndaSubjectBoxView{
							border-radius:10px;
							margin-left:20px;
							box-shadow: 3px 3px 5px 3px rgb(230,230,230);
							border:none;
							line-height:30px;
							height:30px;
							font-size:14px;
							height : 30px;
	}
	.qAndaContentBox{
			border-radius:10px;
			margin-left:20px;
			box-shadow: 3px 3px 5px 3px rgb(230,230,230);
			border:none;
			line-height:30px;
			height:fit-content;
			min-height : 200px;
			font-size:14px;
			width : 600px;
			padding : 10px;
	}
	.qAndaTypeDiv select{
						
							border-radius:10px;
							height:30px;
							width:fit-content;
							margin-left:20px;
							padding : 0 5px;
							box-shadow: 3px 3px 5px 3px rgb(230,230,230);
							border:none;
							line-height:30px;
							font-size:14px;
	
	
	}
	.qAndaTypeBox1{
							border-radius:10px;
							height:30px;
							width:auto;
							margin-left:20px;
							padding:5px 0 0 10px;
							box-shadow: 3px 3px 5px 3px rgb(230,230,230);
							border:none;
							font-size:14px;
							
	
	
	}
	.subjectQandALbl{
					font-weight: bold;
					width:70px;
				    border-radius: 10px;
				    text-decoration: none;
				    text-align: center;
				    padding: 4px 6px;
				    color: white;
				    border:none;
				    background-color:gray;
				    float: right;
				    height : 30px;
				    line-height :20px;
				    font-size : 14px;
				    box-shadow: 3px 3px 5px 3px rgb(230,230,230);
	
	
	}
	.qandABtnLbl{
					font-weight: bold;
					width:70px;
				    border-radius: 10px;
				    text-decoration: none;
				    text-align: center;
				    padding: 4px 6px;
				    color: white;
				    border:none;
				    background-color:rgb(0,176,176);
				    float: right;
				    height : 30px;
				    line-height :20px;
				    font-size : 14px;
				    margin-left:20px;
				    box-shadow: 3px 3px 5px 3px rgb(230,230,230);
	
	}
	.qandABtnResetLbl{
					font-weight: bold;
					width:70px;
				    border-radius: 10px;
				    text-decoration: none;
				    text-align: center;
				    padding: 4px 6px;
				    color: rgb(0,176,176);
				    border:none;
				    background-color:#fff;
				    float: right;
				    height : 30px;
				    line-height :20px;
				    font-size : 14px;
				    margin-left:20px;
				    box-shadow: 3px 3px 5px 3px rgb(230,230,230);
	
	
	}

	.qAndaTypeLbl{
					font-weight: bold;
				    border-radius: 10px;
				    text-decoration: none;
				    text-align: center;
				    padding: 3px 6px;
				    color: white;
				    border:none;
				    width:100%;
				    background-color:gray;
				    float: right;
				    height : 30px;
				    line-height :20px;
				    font-size : 14px;
				    box-shadow: 3px 3px 5px 3px rgb(230,230,230);
	
	
	}
	.qAndaSubjectBox{
						border-radius:10px;
						margin-left:20px;
						box-shadow: 3px 3px 5px 3px rgb(230,230,230);
						width:600px;
						border:none;
						padding : 0 10px;
						height : 30px;
	}
	.paging{
		display : inline-block;
		width:100%;
		height:50px;
		color:#353535;
		font-size:16px;
		margin : 20px auto 0;
		text-align: center;
	}
	.paging ul{
		display:inline-block;
	}
	.paging ul li{
		list-style-type: none;
		float: left;
		margin-left:30px;
		font-weight:600;
		color:#7F7F7F;
		font-weight:bold;
	}
	
	.listTitle{
		height : 40px;
		margin : 0;
		font-weight:bold;
	}
	.listTitle>li, .list>li{
		height : 40px;
		line-height : 40px;
		font-size:15px;
		text-align : center;
		width : 15%;
		float:left; 
		border-bottom : 1px solid lightgray;
  	}
  	
  	.listTitle>li:nth-of-type(6n+5){
  		width:42%;
	
  	}
  	.list>li:nth-of-type(6n+5){
		width:42%;
		padding : 0 2%;
		text-align: left;
  	}
  	
  	.listTitle>li:nth-of-type(6n+1), .list>li:nth-of-type(6n+1){
		width : 5%
  	}
  	
  	.listTitle>li:nth-of-type(6n+2), .list>li:nth-of-type(6n+2){
		width : 8%
  	}
  	
  	.list input[type=check]{
  		width : 15px;
  		height : 15px;
  	}
  	
  	.wordcut{
  		white-space: nowrap;
  		overflow: hidden;
  		text-overflow: ellipsis;
  	}
  	
  	.readYet{
  		color:rgb(0,176,176);
  	}
  	
 	.btn,.btn_del{
  		font-weight: bold;
	    border-radius: 10px;
	    text-decoration: none;
	    text-align: center;
	    padding: 3px 6px;
	    margin : -11px 8px 0 0;
	    color: white;
	    border:none;
	    background-color: rgb(0,64,64);
	    float: right;
	    height : 30px;
	    line-height :20px;
	    font-size : 14px;
	    box-shadow: 3px 3px 5px 3px rgb(230,230,230);
  	}
  	.btn_del{
  			 background-color: #FF6347;	
  			 color: #fff;
  			 border: none;
  				
  	
  	}
  	.readYetChk{
  		margin-left : 5px;
  		line-height : 20px;
  		height : 20px;
  	}
  	a:hover,a:link,a:visited{text-decoration:none; color: inherit;}
	
	
	 textarea:focus {
	  outline: none;
	 }
	 button:focus {
	    outline: none;
	 }
	 input:focus {
	    outline: none;
	 }
	 select:focus{
	 	outline:none;
	 }
	 
	.modal{
		width : 530px;
		min-height : fit-content;
		top : 20%;
		left : 45%;
	}
	.modal-body{
		width : auto;
		height : auto;
		font-size : medium;
		padding-top : 0;
	}
	.modal-dialog{
		margin : 0;
		width : inherit;
	}
	.modal-header{
		padding-bottom : 0;
	}
	.modal-header label{
						color:rgb(64,64,64);
						font-size:16px;

	}
	.applyTourCloseBtn{
					    background-color:rgb(64,64,64);
					    color:#fff;
					    font-weight:bold;
					    border-radius: 6px;
					    border: none;
					    width: 25px;
					    margin-top : 2.5px;
					    height: 25px;
					    text-align: center;
					    font-size : 12px;
					    box-shadow: 3px 3px 5px 3px rgb(230,230,230);
					    line-height : 25px;
					    float:right;
	}
	.modal .qAndaSubjectBox{
		width : 387px;
	}
	.modal .qAndaContentBox{
		width : inherit;
	}
	
	.modal .qAndaTypeDiv{
		margin-top : 0;
	}